@using Newtonsoft.Json;
@model List<Sheet>

@{
    Layout = "_LayoutNew";
    var autoresponderInfos = (Dictionary<string, AutoresponderInfo>)ViewData["AutorespondersInfo"];
}
<div class="row bottom-block__items h-100 d-flex flex-column">
    <div class="col-12 d-flex justify-content-between flex-wrap h-100">
        <div class="total-left d-flex flex-column h-100 col-4 me-2">
            <div class="d-flex">
                <div class="select select-time position-relative">
                    <div class="select-title d-flex align-items-center justify-content-between">
                        <span class="select-title__text">Последние 24 часа</span>
                        <svg class="arrow" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.825 0L5 3.7085L1.175 0L0 1.1417L5 6L10 1.1417L8.825 0Z" fill="#9292A3"></path>
                        </svg>
                        <svg class="clock" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 19.25C15.1086 19.25 19.25 15.1086 19.25 10C19.25 4.89137 15.1086 0.75 10 0.75C4.89137 0.75 0.75 4.89137 0.75 10C0.75 15.1086 4.89137 19.25 10 19.25Z" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M10 10.82L7 8.76001" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M10 10.82L14.11 7.72998" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <ul class="select-info position-absolute text-start">
                        <li class="select-info__list">Последние 6 часов</li>
                        <li class="select-info__list">Последние 12 часов</li>
                        <li class="select-info__list">Последние 24 часа</li>
                    </ul>
                </div>
                <button class="zoom">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.97 17.19C4.43 17.19 0.75 13.51 0.75 8.97C0.75 4.43 4.43 0.75 8.97 0.75C13.51 0.75 17.19 4.43 17.19 8.97C17.19 13.51 13.51 17.19 8.97 17.19Z" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M19.25 19.25L15.14 15.14" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M6.92004 8.96997H11.03" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
            </div>

            <div class="select select-chat position-relative text-start">
                <div class="select-title d-flex align-items-center justify-content-between">
                    <span class="select-title__text">Чаты</span>
                    <svg class="arrow" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.825 0L5 3.7085L1.175 0L0 1.1417L5 6L10 1.1417L8.825 0Z" fill="#9292A3"></path>
                    </svg>
                </div>
                <ul class="select-info position-absolute">
                    <li class="select-info__list">Чаты</li>
                    <li class="select-info__list">Письма</li>
                </ul>
            </div>
            <p class="found text-start">
                Найдено профилей: <span class="found_info">@(Model?.Count ?? 0)</span>
            </p>
            <div class="found-box h-100">
                <!-- found-chat -->
                @if (Model != null)
                {
                    foreach (var sheet in Model)
                    {
                        var info = JsonConvert.DeserializeObject<SheetInfo>(sheet.Info);
                        AutoresponderInfo autoresponderInfo;
                        autoresponderInfos.TryGetValue(sheet.Identity, out autoresponderInfo);

                        <div name="sheet" class="found-chat d-flex align-items-center justify-content-between" onclick="autoresponders(this, @sheet.Id)">
                            <div class="d-flex align-items-center">
                                <div class="avatar">
                                    <img src="@info.Personal.AvatarSmall" alt="" class="avatar__img">
                                    @if (autoresponderInfo != null)
                                    {
                                        <div name="status" class="online"></div>
                                    }
                                    else
                                    {
                                        <div name="status" class="offline"></div>
                                    }
                                </div>
                                <div class="">
                                    <a href="#" class="user__name">@info.Personal.Name</a>
                                    <p class="pd">@info.Id</p>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-center">
                                <p class="translator__title">Переводчик</p>
                                <p class="translator__info">5555675</p>
                            </div>
                            <p class="found-chat__info">
                                <span class="@((autoresponderInfo?.IsSystem ?? false )? "blue" : "")">S</span>
                                <span class="@((autoresponderInfo?.IsWink ?? false )? "blue" : "")">W</span>
                                <span class="@((autoresponderInfo?.IsLike ?? false )? "blue" : "")">L</span>
                                <span class="@((autoresponderInfo?.IsSpam ?? false )? "blue" : "")">A</span>
                            </p>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="total-right d-flex flex-column h-100 col">
            <div class="d-flex align-items-center justify-content-between">
                <div class="total-balance">Общий баланс: $ <span>@ViewData["BalancesAll"]</span></div>
                <div class="d-flex me-3">
                    <partial name="_WorkingShiftPartial" />
@*                  <div class="time">30:00</div>
                    <div class="break">Перерыв</div>
                    <div class="start-work">Начать работу/Закончить смену</div>*@
                </div>
            </div>
            <div class="select select-accessible position-relative">
                <div class="select-title d-flex align-items-center justify-content-between">
                    <span class="select-title__text">Доступные</span>
                    <svg class="arrow" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.825 0L5 3.7085L1.175 0L0 1.1417L5 6L10 1.1417L8.825 0Z" fill="#9292A3"></path>
                    </svg>
                </div>
                <ul class="select-info position-absolute text-start">
                    <li class="select-info__list">Доступные</li>
                    <li class="select-info__list">Доступные 1</li>
                    <li class="select-info__list">Доступные 2</li>
                </ul>
            </div>

            <div class="auto-replies">
            </div>

        </div>
    </div>
</div>

<partial name="_AutoresponderPopUpPartial" />

@section Scripts{
    <script src="/js/Autoresponders/autoresponders.js" asp-append-version="true"></script>
    <script src="/js/workingShift.js" asp-append-version="true"></script>
}