@using Newtonsoft.Json;
@model List<Sheet>

@{
    var autoresponderInfos = (Dictionary<string, AutoresponderInfo>)ViewData["AutorespondersInfo"];
}

<div class="d-grid overflow-hidden gap-2 p-2" style="grid-template-columns: 1fr 3fr;">
    <div class="total-left d-flex flex-column overflow-y-auto p-3 rounded bg-martinique">

        <div class="ice-header rounded fs-4 fw-bold text-white text-start mb-3 p-2 bg-port_gore">
            Найдено профилей: @(Model?.Count ?? 0)
        </div>

        <div class="found-box overflow-y-auto h-100">
            <!-- found-chat -->
            @if (Model != null)
            {
                foreach (var sheet in Model)
                {
                    var info = JsonConvert.DeserializeObject<SheetInfo>(sheet.Info);
                    AutoresponderInfo autoresponderInfo;
                    autoresponderInfos.TryGetValue(sheet.Identity, out autoresponderInfo);

                    <div name="sheet" class="found-chat d-flex align-items-center justify-content-between cursor-pointer rounded mb-2" onclick="autoresponders(this, @sheet.Id)">
                        <div class="d-flex align-items-center">
                            <div class="avatar">
                                <img src="@info.Personal.AvatarSmall" alt="" class="avatar__img" loading="lazy" onerror="errorLoadAvatar(this)">
                                @if (autoresponderInfo != null)
                                {
                                    <div name="status" class="status-circle-green rounded-circle position-absolute end-0 bottom-0"></div>
                                }
                                else
                                {
                                    <div name="status" class="status-circle-red rounded-circle position-absolute end-0 bottom-0"></div>
                                }
                            </div>
                            <div class="">
                                <a href="#" class="user__name">@info.Personal.Name</a>
                                <p class="pd">@info.Id</p>
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <p class="translator__title">Переводчик</p>
                            <p class="translator__info">5555675</p>
                        </div>
                        <p class="found-chat__info">
                            <span class="@((autoresponderInfo?.IsSystem ?? false )? "blue" : "")">S</span>
                            <span class="@((autoresponderInfo?.IsWink ?? false )? "blue" : "")">W</span>
                            <span class="@((autoresponderInfo?.IsLike ?? false )? "blue" : "")">L</span>
                            <span class="@((autoresponderInfo?.IsSpam ?? false )? "blue" : "")">A</span>
                        </p>
                    </div>
                }
            }
        </div>
    </div>

    <div class="total-right d-flex flex-column overflow-y-auto p-3 rounded bg-martinique">
        <div class="d-flex align-items-center justify-content-between ice-header rounded p-2 mb-3 bg-port_gore">
            <div class="fs-4 fw-bold">Общий баланс: $@ViewData["BalancesAll"]</div>
            <div class="d-flex">
                <partial name="_WorkingShiftPartial" />
                @*<div class="time">30:00</div>
                <div class="break">Перерыв</div>
                <div class="start-work">Начать работу/Закончить смену</div>*@
            </div>
        </div>

        <div class="auto-replies text-center">
        </div>
    </div>
</div>

<partial name="_AutoresponderPopUpPartial" />

@section Scripts{
    <script src="/js/Autoresponders/autoresponders.js" asp-append-version="true"></script>
    <script src="/js/workingShift.js" asp-append-version="true"></script>
}