@using Core.Models.Agencies.Operators;
@model IEnumerable<OperatorSessionsView>

@{
    var sheetId = int.Parse(ViewData["sheetId"].ToString());
}

<div>
    <input name="popoverProfileId" type="hidden" value="@ViewData["sheetId"]" />
    <table name="operators" class="table table-dark table-sm table-hover">
        <thead>
            <tr>
                <th class="fw-bold">№</th>
                <th class="fw-bold">Name</th>
                <th class="fw-bold">Time</th>
                <th class="fw-bold">Team</th>
                <th class="fw-bold">Sheets</th>
                <th class="fw-bold"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-placeholder text-center">
                <td colspan="6">Not operators</td>
            </tr>
            @if (Model.Count() > 0)
            {
                foreach (var osv in Model)
                {
                    foreach (var s in osv.Sessions)
                    {
                        if (s.Session.Sheets?.Any(ass => ass.Sheet.Id == sheetId) ?? false)
                        {
                            <tr>
                                <td>@osv.Operator.Id</td>
                                <td>
                                    @(osv.Operator.Member.User.Login ?? osv.Operator.Member.User.Email)
                                </td>
                                <td class="text-end">Time</td>
                                <td name="Team">
                                    @(s.Creator.Member.User.Login ?? s.Creator.Member.User.Email)
                                </td>
                                <td class="text-center">@osv.CountSheets()</td>
                                <td name="Action">
                                    <a role="button" class="btn btn-sm btn-outline-info" onclick="addTempOperator(event)">
                                        <i class="fa-solid fa-clock fa-xl"></i>
                                    </a>
                                    <a role="button" class="btn btn-sm btn-outline-danger" onclick="deleteOperator(event, @osv.Operator.Id)">
                                        <i class="fa-solid fa-trash fa-xl"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                        else if (s.Session.Cabinets?.Any(asc => asc.Cabinet.Sheets.Any(acs => acs.Sheet.Id == sheetId)) ?? false)
                        {
                            <tr>
                                <td>@osv.Operator.Id</td>
                                <td>
                                    @(osv.Operator.Member.User.Login ?? osv.Operator.Member.User.Email)
                                </td>
                                <td class="text-end">Time</td>
                                <td name="Team">
                                    @(s.Creator.Member.User.Login ?? s.Creator.Member.User.Email)
                                </td>
                                <td class="text-center">@osv.CountSheets()</td>
                                <td name="Action">
                                    <a role="button" class="btn btn-sm btn-outline-info w-100" onclick="addTempOperator(event)">
                                        <i class="fa-solid fa-clock fa-xl"></i>
                                    </a>
                                </td>
                            </tr>
                        }

                    }
                }
            }
        </tbody>
    </table>

    <div id="dropdownOperators" class="dropdown">
        <button type="button" class="btn btn-sm btn-outline-success dropdown-toggle w-100" id="dropdownMenuAddOperator" data-bs-toggle="dropdown" aria-expanded="false">
            Add Operator
        </button>
        <div class="dropdown-menu dropdown-menu-gray w-100 border border-custom p-1 bg-port_gore" aria-labelledby="dropdownMenuAddOperator">
            <input class="form-control text-white my-2" placeholder="Search" onkeyup="searchOperator(event)" style="font-size: 1rem !important;" />
            <div class="overflow-auto dropdown-table-max-height">
                <table name="freeOperators" class="table table-dark table-sm table-hover mb-0">
                    <tbody>
                        <tr class="tr-placeholder text-center">
                            <td colspan="4">Not free operators</td>
                        </tr>
                        @if (Model?.Count() > 0)
                        {
                            foreach (var osv in Model.Where(os => !os.Sessions.Any(s => s.Session.Sheets.Any(ass => ass.Sheet.Id == sheetId))))
                            {
                                <tr onclick="addOperator(event)">
                                    <td>@osv.Operator.Id</td>
                                    <td>@(osv.Operator.Member.User.Login ?? osv.Operator.Member.User.Email)</td>
                                    <td class="text-end">Time</td>
                                    <td class="text-center">@osv.CountSheets()</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>