@model List<Operator>

<div>
    <input name="popoverProfileId" type="hidden" value="@ViewData["profileId"]" />
    <table name="operators" class="table table-secondary table-sm table-hover text-black">
        <thead>
            <tr>
                <th class="text-bold">№</th>
                <th class="text-bold">Name</th>
                <th class="text-bold">Time</th>
                <th class="text-bold">Team</th>
                <th class="text-bold">Profiles</th>
                <th class="text-bold"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-placeholder text-center">
                <td colspan="6">Not operators</td>
            </tr>
            @foreach (var o in Model)
            {
            <tr>
                <td>@o.Id</td>
                <td>@o.Name</td>
                <td class="text-end">@o.Time</td>
                <td name="Team">@o.Team</td>
                <td class="text-center">@o.Profiles.Count</td>
                <td name="Action">
                    <a role="button" class="btn btn-sm btn-info" onclick="addTempOperator(event)">
                        <i class="fa-solid fa-clock fa-xl"></i>
                    </a>
                    <a role="button" class="btn btn-sm btn-danger" onclick="deleteOperator(event, @o.Id)">
                        <i class="fa-solid fa-trash fa-xl"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div id="dropdownOperators" class="dropdown">
        <button type="button" class="btn btn-sm btn-success dropdown-toggle btn-block" id="dropdownMenuAddOperator" data-mdb-toggle="dropdown" aria-expanded="false">
            Add Operator
        </button>
        <div class="dropdown-menu dropdown-menu-gray w-100 border border-success p-1" aria-labelledby="dropdownMenuAddOperator">
            <input class="form-control text-black" placeholder="Search" onkeyup="searchOperator(event)" />
            <div class="overflow-auto dropdown-table-max-height">
                <table name="freeOperators" class="table table-sm table-secondary table-hover mb-0 text-black">
                    <tbody>
                        <tr class="tr-placeholder text-center">
                            <td colspan="4">Not free operators</td>
                        </tr>
                        @if (Model?.Count > 0)
                        {
                            foreach (var o in Model)
                            {
                                <tr onclick="addOperator(event)">
                                    <td>@o.Id</td>
                                    <td>@o.Name</td>
                                    <td class="text-end">@o.Time</td>
                                    <td class="text-center">@o.Profiles.Count</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>