@using UI.Infrastructure.Repository;
@model IEnumerable<NewMessage>

@*@{
    var timers = (Dictionary<long, MessageTimer>)ViewData["timers"];
}*@

@foreach (var ds in Model)
{

    //Проверяем кто написал последнее сообщение в диалоге, владелица анкеты или мужчина. Если условие выполняется, то сообщение написал владелица анкеты
    bool isOwner = ds.SheetInfo.Id == ds.Dialogue.LastMessage.IdUserFrom && ds.Dialogue.LastMessage.Type != MessageType.System;

    <div name="newMessage" id="@($"{ds.SheetInfo.SheetId}-{ds.Dialogue.IdInterlocutor}")" class="bottom-block-body__item d-flex w-100 cursor-pointer mb-2 text-white row p-1 rounded @(isOwner ? "flex-row-reverse": "flex-row")"
     data-message-id="@ds.Dialogue.LastMessage.Id"
     data-sheet-id="@($"{ds.SheetInfo.SheetId}")"
     data-owner-id="@($"{ds.SheetInfo.Id}")"
     data-is-pinned="@ds.Dialogue.IsPinned"
     data-is-bookmarked="@ds.Dialogue.IsBookmarked"
     data-message-type="@(isOwner ? "" : ds.Dialogue.LastMessage.Type)"
     data-online="@(isOwner ? ds.Dialogue.Status : "")"
     onclick="goToChat(this)">
        <div class="other-user-block col-2 p-0">
            <div class="position-relative d-inline-block">
                <img name="interlocutorAvatar" src="@ds.Dialogue.Avatar" loading="lazy" alt="avatar" class="standart-image rounded" onerror="errorLoadAvatar(this)">
                @if (ds.Dialogue.Status == Status.Online)
                {
                    <span class="status-circle-green other-user-block-status rounded-circle position-absolute bottom-0 end-0"></span>
                }
                else
                {
                    <span class="status-circle-red other-user-block-status rounded-circle position-absolute bottom-0 end-0"></span>
                }
            </div>

            <p name="interlocutorId" class="d-none">@ds.Dialogue.IdInterlocutor</p>

            <p name="interlocutorName" class="user-block-name-text small-text-wrapp">
                @ds.Dialogue.UserName
            </p>
        </div>
        <div class="message-block col-6 text-start px-1-xxl-0 h-100">
            <p class="other-name-text-mutiline">
                @switch (ds.Dialogue.LastMessage.Type)
                {
                    case MessageType.Message:
                        @ds.Dialogue.LastMessage.Content.Message
                        break;

                    case MessageType.Sticker:
                        @:Sticker
                        break;

                    case MessageType.Virtual_Gift:
                        @:Gift
                        break;

                    case MessageType.Photo:
                    case MessageType.Photo_batch:
                        @:Photo
                        break;

                    case MessageType.LikePhoto:
                        @:Like Photo
                        break;

                    case MessageType.Video:
                        @:Video
                        break;

                    case MessageType.Post:
                        @:Post
                        break;

                    case MessageType.Like_NewsFeed_Post:
                        @:Like Post
                        break;

                    case MessageType.Wink:
                        @:Winked
                        break;

                    case MessageType.System:
                        @ds.Dialogue.LastMessage.Content.Message
                        break;

                    default:
                        break;
                }
            </p>
            <p name="date-created" class="user-block-name-text opacity-50" data-date="@ds.Dialogue.LastMessage.DateCreated.ToString("O")">
            </p>
        </div>
        <div class="user-block d-flex align-items-center rounded col-4 px-2">
            <div class="position-relative mx-1">
                <img name="ownerAvatar" src="@ds.SheetInfo.Personal.AvatarSmall" loading="lazy" alt="avatar" class="standart-image rounded" onerror="errorLoadAvatar(this)">
                <span name="online-status-@ds.SheetInfo.SheetId" class="rounded-circle position-absolute bottom-0 end-0"></span>
                @*                    @if (sd.SheetInfo.IsOnline)
            {
            <span class="status-circle-green rounded-circle d-inline-block position-absolute bottom-0 end-0"></span>
            }
            else
            {
            <span class="status-circle-red rounded-circle d-inline-block position-absolute bottom-0 end-0"></span>
            }*@
            </div>

            <div class="text-center d-grid w-100">
                <p name="ownerName" class="user-block-name-text">@ds.SheetInfo.Personal.Name</p>
                @if (!isOwner)
                {
                    <p class="user-block-timer-text timer" data-sheetInfo-id="@ds.SheetInfo.SheetId" data-id-interlocutor="@ds.Dialogue.IdInterlocutor"></p>
                    @*                    if (ds.Dialogue.LastMessage.Id.HasValue && (timers?.TryGetValue(ds.Dialogue.LastMessage.Id.Value, out MessageTimer timer) ?? false))
            {
            <p class="user-block-timer-text timer" data-seconds-left="@timer.TimeLeft()" data-sheetInfo-id="@ds.SheetInfo.SheetId" data-id-interlocutor="@ds.Dialogue.IdInterlocutor"></p>
            }
            else
            {
            <p class="user-block-timer-text timer" data-sheetInfo-id="@ds.SheetInfo.SheetId" data-id-interlocutor="@ds.Dialogue.IdInterlocutor"></p>
            }*@
                }
            </div>
        </div>
    </div>
}