@model Dialogue

<div name="dialogue" onclick="goToChatFromSheetDialogues(event)" class="accordion-body-item rounded w-100 py-2 row bg-martinique"
     data-id-interlocutor="@Model.IdInterlocutor">
    <div class="col-4 d-flex justify-content-start align-items-center ps-2 pe-0">
        <img name="interlocutorAvatar" src="@Model.Avatar" alt="No person" class="small-image rounded me-2" loading="lazy" onerror="errorLoadAvatar(this)">
        <p name="interlocutorName" class="accordion-body-text text-start">@Model.UserName</p>
    </div>
    <div class="accordion-body-icons-block col-5 d-flex justify-content-center align-items-center p-0">
        <div class="col-6">
            <p class="accordion-body-text">@Model.IdInterlocutor</p>
        </div>
        <span name="bookmark" class="accordion-body-text" onchange="changeBookmark(this)">
            @if (Model.IsBookmarked)
            {
                <input type="checkbox" checked class="accordion_star_svg_checkbox opacity-0" id="@($"bookmarked-checkbox-{ViewData["criteria"]}-{ViewData["sheetId"]}-{Model.IdInterlocutor}")" name="status-checkbox" value="yes" wfd-id="id3">
            }
            else
            {
                <input type="checkbox" class="accordion_star_svg_checkbox opacity-0" id="@($"bookmarked-checkbox-{ViewData["criteria"]}-{ViewData["sheetId"]}-{Model.IdInterlocutor}")" name="status-checkbox" value="yes" wfd-id="id3">
            }
            <label for="@($"bookmarked-checkbox-{ViewData["criteria"]}-{ViewData["sheetId"]}-{Model.IdInterlocutor}")" class="status-icon-text" title="Букмарк">
                <svg id="AreaSVG">
                    <use xlink:href="#Star"></use>
                </svg>
            </label>
        </span>

        <span name="premium" class="accordion-body-text" onchange="changePremium(this)">
            @if (Model.IsPremium)
            {
                <input type="checkbox" checked class="accordion_heart_svg_checkbox opacity-0" id="@($"premium-checkbox-{ViewData["criteria"]}-{ViewData["sheetId"]}-{Model.IdInterlocutor}")" name="status-checkbox" value="yes" wfd-id="id4">
            }
            else
            {
                <input type="checkbox" class="accordion_heart_svg_checkbox opacity-0" id="@($"premium-checkbox-{ViewData["criteria"]}-{ViewData["sheetId"]}-{Model.IdInterlocutor}")" name="status-checkbox" value="yes" wfd-id="id4">
            }
            <label for="@($"premium-checkbox-{ViewData["criteria"]}-{ViewData["sheetId"]}-{Model.IdInterlocutor}")" class="status-icon-text" title="Премиум">
                <svg id="RiverSVG">
                    <use xlink:href="#Heart"></use>
                </svg>
            </label>
        </span>
    </div>
    <div class="accordion-body-time-block col-3 d-flex align-items-center">
        <p name="date-created" class="text-small text-white-50 text-nowrap" data-date="@Model.DateUpdated.ToString("O")"></p>
    </div>
</div>
