@model List<Note>

<div class="modal-header">
    <h5 class="modal-tittle text-white"></h5>
    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <ul class="list-unstyled text-white">
        @foreach (var note in Model.Where(n => n.IsRead))
        {
            <li classs="d-flex justify-content-between mb-4">
                <div class="mask-custom card w-100">
                    <div class="card-header d-flex justify-content-between p-3" style="border-bottom: 1px solid rgba(255, 255, 255, .3);">
                        <p class="fw-bold mb-0"><i class="fa-solid fa-check text-success"></i> @note.Name</p>
                        <p class="text-light small mb-0"><i class="fa-solid fa-clock"></i> @note.Created.ToString("HH:mm dd.MM.yyy")</p>
                    </div>
                    <div class="card-body">
                        <p class="mb-0">
                            @note.Text
                        </p>
                    </div>
                </div>
            </li>
        }
        @if (Model.Any(n => !n.IsRead))
        {
            <li class="dropdown-divider my-4">New message</li>
            @foreach (var note in Model.Where(n => !n.IsRead))
            {
                <li classs="d-flex justify-content-between mb-4">
                    <div class="mask-custom card w-100">
                        <div class="card-header d-flex justify-content-between p-3" style="border-bottom: 1px solid rgba(255, 255, 255, .3);">
                            <p class="fw-bold mb-0"><i class="fa-solid fa-check"></i> @note.Name</p>
                            <p class="text-light small mb-0"><i class="fa-solid fa-clock"></i> @note.Created.ToString("HH:mm dd.MM.yyy")</p>
                        </div>
                        <div class="card-body">
                            <p class="mb-0">
                                @note.Text
                            </p>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</div>
<div class="modal-footer">
    <div class="form-outline">
        <textarea id="textAreaNote" class="form-control mask-custom text-white" rows="4" style="background: rgba(24, 24, 16, .2)"></textarea>
        <label class="form-label text-white" for="textAreaNote">Note</label>
    </div>
    <button type="button" class="btn btn-sm btn-success btn-rounded float-end" onclick="createNotes(@ViewData["profileId"])">Send  <i class="fa-solid fa-paper-plane"></i></button>
</div>
