@model AdminAgencyView

@{
    ViewData["Title"] = "Sheets";
    int counter = 1;
}

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.21.1/bootstrap-table.min.css"
      asp-fallback-href="/lib/bootstrap-table/dist/bootstrap-table.min.css"
      asp-fallback-test-class="fullscreen"
      asp-fallback-test-property="position"
      asp-fallback-test-value="fixed"
      asp-append-version="true" />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.21.1/extensions/sticky-header/bootstrap-table-sticky-header.min.css"
      asp-fallback-href="/lib/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css"
      asp-fallback-test-class="fix-sticky"
      asp-fallback-test-property="position"
      asp-fallback-test-value="fixed !important"
      asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" />

<partial name="_AlertsPartial" />

<input type="hidden" asp-for="AgencyId" />

<div id="tableDiv" class="d-none mx-3 mb-3">

    <div id="toolbar" class="d-flex">
        <div>
            <input type="text" id="customSearch" class="form-control form-control-sm text-white h-100" placeholder="Search" />
        </div>
        <div class="ms-2">
            <button id="deleteBtn" class="btn btn-sm btn-outline-danger">
                <i class="fa-solid fa-trash fa-xl"></i>
            </button>
            <button id="addGroup" class="btn btn-sm btn-outline-primary">
                <i class="fa-solid fa-plus"></i>
                Add Group
            </button>
            <button id="addSheet" class="btn btn-sm btn-outline-success">
                <i class="fa-solid fa-plus"></i>
                Add Sheets
            </button>

        </div>
    </div>

    <table id="adminAgencyTable" class="table table-sm table-dark table-hover table-bordered"
           data-toggle="true"
           data-sticky-header="true"
           data-checkbox-header="true"
           data-id-field="state"
           data-unique-id="id"
           data-search="true"
           data-search-selector="#customSearch"
           data-toolbar="#toolbar"
           data-toolbar-align="right"
           @*style="min-width: 1535px;"*@>
        <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="number" data-sortable="true" data-align="center" data-width="40">№</th>
                <th data-field="status" data-align="center" data-width="40"></th>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="lastName" data-sortable="true">Last name</th>
                <th data-field="sheetId" data-sortable="true" data-align="center">Sheet ID</th>
                <th data-field="id" data-visible="false">ID</th>
                <th data-field="balance" class="text-center">Balance</th>
                <th data-field="media" class="text-center">Media materials</th>
                <th data-field="operators" data-formatter="operatorsFormatter" class="text-center">Operators</th>
                <th data-field="group" data-formatter="groupFormatter" data-width="200">
                    <select id="groupsSelect" name="groupHeader" class="form-control select-custom" asp-items="@Model?.Groups" onchange="filterGroup(event)">
                        <option value="0">All Groups</option>
                    </select>
                </th>
                <th data-field="cabinet" data-formatter="cabinetFormatter" data-width="200">
                    <select id="cabinetsSelect" name="cabinetHeader" class="form-control select-custom" asp-items="@Model?.Cabinets" onchange="filterCabinet(event)">
                        <option selected value="0">All Cabinets</option>
                    </select>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.Sheets?.Count > 0)
            {
                @foreach (var sheet in Model.Sheets)
                {
                    <tr>
                        <td>@*@sheet.Id*@</td>

                        <td>@(counter++)</td>

                        <td class="p-1">
                            <div class="d-flex justify-content-center">
                                <div class="position-relative d-inline-flex">
                                    <img src="@sheet.Avatar" alt="avatar" class="avatar rounded" loading="lazy" onerror="errorLoadAvatar(this)">
                                    @if (sheet.Status == Status.Online)
                                    {
                                        <span class="status-circle-green rounded-circle position-absolute bottom-0 end-0"></span>
                                    }
                                    else
                                    {
                                        <span class="status-circle-red rounded-circle position-absolute bottom-0 end-0"></span>
                                    }
                                </div>
                            </div>
                        </td>

                        <td>@sheet.FirstName</td>

                        <td>@sheet.LastName</td>

                        <td>@sheet.SheetId</td>

                        <td>@sheet.Id</td>

                        <td>
                            <div class="row justify-content-center">
                                <div class="col-6 text-end">
                                    @($"{sheet.Balance}$ ")
                                </div>
                                <div class="col-auto ps-0">
                                    <i class="fa-solid fa-signal fa-signal-gradient"></i>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="row text-center mx-1">
                                <div class="col-3 p-0" title="Photo">
                                    <i class="fa-solid fa-image fa-fw pe-1"></i>
                                    @sheet.Photo
                                </div>
                                <div class="col-3 p-0" title="Private Photo">
                                    <i class="fa-solid fa-unlock-keyhole fa-fw pe-1"></i>
                                    @sheet.PrivatePhoto
                                </div>
                                <div class="col-3 p-0" title="Video">
                                    <i class="fa-solid fa-video fa-fw pe-1"></i>
                                    @sheet.Video
                                </div>
                                <div class="col-3 p-0" title="Audio">
                                    <i class="fa-solid fa-volume-high fa-fw pe-1"></i>
                                    @sheet.Audio
                                </div>
                            </div>
                        </td>

                        <td>@sheet.Operators</td>

                        <td>@sheet.Group?.Id</td>

                        <td>@sheet.Cabinet?.Id</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<partial name="_DeleteSheets" />
<partial name="_AddGroup" model="@Model?.AgencyId" />
<partial name="_AddWorkSchedule" />
<partial name="_AddSheet" model="@Model?.Sites" />
<partial name="_Popover" />
<partial name="_Toast" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.21.1/bootstrap-table.min.js"
        asp-fallback-src="/lib/bootstrap-table/dist/bootstrap-table.min.js"
        asp-fallback-test="window.BootstrapTable"
        asp-append-version="true">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.21.1/extensions/sticky-header/bootstrap-table-sticky-header.min.js"
        asp-fallback-src="/lib/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"
        asp-fallback-test="window.BootstrapTable.DEFAULTS.stickyHeader"
        asp-append-version="true">
    </script>
    <script src="~/js/AdminAgency/dataTable.js" asp-append-version="true"></script>
    <script src="~/js/AdminAgency/group.js" asp-append-version="true"></script>
    <script src="~/js/AdminAgency/shift.js" asp-append-version="true"></script>
    <script src="~/js/AdminAgency/cabinet.js" asp-append-version="true"></script>
    <script src="~/js/AdminAgency/sheet.js" asp-append-version="true"></script>
    <script src="~/js/AdminAgency/filters.js" asp-append-version="true"></script>
    <script src="~/js/AdminAgency/popovers.js" asp-append-version="true"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}
