@using Humanizer;
@model Sheet

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

@{
    ViewData["Title"] = "Chats";
    var stickers = (List<StickerGroup>)ViewData["stickers"] ?? new List<StickerGroup>();
}

@if (Model == null)
{
    <div class="alert alert-danger text-center">No chats</div>
}
else
{
    <input type="hidden" id="sheetId" value="@Model.Id" />
    <input type="hidden" id="ownerId" value="@Model.Identity" />

    <partial name="_AlertsPartial" />

    <div class="container pb-3">

        <div class="row">

            <div class="col-md-12">

                <div class="card" id="chat" style="border-radius: 15px;">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
                                <div class="p-3">

                                    <div id="divSearch" class="input-group mb-3">
                                        <span class="input-group-text border-0">
                                            <i class="fa-solid fa-search"></i>
                                        </span>
                                        <input type="search" id="search" class="form-control rounded" oninput="searchDialogue(this)" placeholder="Search" aria-label="search" aria-describedby="search" autocomplete="off" />
                                    </div>

                                    <div>
                                        <!-- Tabs navs -->
                                        <ul class="nav nav-tabs nav-justified mb-1" id="tabsNavs" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="tab-actibe" data-mdb-toggle="tab" role="tab" aria-selected="true" data-type="active" onclick="getDialogues(true)">
                                                    Active
                                                </a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="tab-all" data-mdb-toggle="tab" role="tab" aria-selected="false" data-type="bookmarked" onclick="getDialogues(true)">
                                                    Saved
                                                </a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="tab-all" data-mdb-toggle="tab" role="tab" aria-selected="false" data-type="" onclick="getDialogues(true)">
                                                    All
                                                </a>
                                            </li>
                                        </ul>
                                        <div id="onlineOnly" class="row mb-2">
                                            <div class="col">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">Online only</label>
                                            </div>
                                            <div class="form-check form-switch col-auto">
                                                <input class="form-check-input" type="checkbox" role="switch" id="isOnlineOnly" onchange="getDialogues(true)" />
                                            </div>
                                        </div>
                                        <!-- Tabs navs -->
                                        <!-- Tabs content -->
                                        <div class="tab-content overflow-auto" id="usersArea" style="position: relative;" onscroll="additionalLoadDialogues(this)">
                                            <ul class="list-unstyled list-group mb-0" id="listUsers" data-cursor="" data-all-load="false">
                                                @await Component.InvokeAsync("Dialogues", new {sheet = Model, criteria = "active"})
                                            </ul>
                                        </div>
                                        <!-- Tabs content -->
                                    </div>

                                </div>

                            </div>

                            <div id="messagesArea" class="col-md-6 col-lg-7 col-xl-8 py-3">
                                <div id="plugChatMenu" class="mb-1"></div>
                                <div id="plugMessages" class="p-3"></div>

                                <!-- Message Editor -->
                                <div id="messageCreationArea" class="position-relative">

                                    <!-- Emojis -->
                                    <div class="position-relative">
                                        <div id="emojisDiv" class="position-absolute bottom-100 d-none">
                                            <div id="emojis">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Stickers -->
                                    <div class="position-relative">
                                        <div id="stickers" class="position-absolute bg-white bottom-100 rounded-top d-none">
                                            <div class="modal-header sticky-top bg-primary px-2 rounded-top">
                                                <h5 class="modal-title text-white">Stickers</h5>
                                                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="hidenStickers()"></button>
                                            </div>
                                            <div class="row mx-0 bg-light" style="height: 33vh; overflow-y: auto; overflow-x: hidden;">
                                                @foreach (var stickerGroup in stickers)
                                                {
                                                    <div class="col-12">
                                                        @stickerGroup.Name
                                                    </div>
                                                    @foreach (var sticker in stickerGroup.Stickers)
                                                    {
                                                        <div class="bg-image hover-overlay ripple col-2">
                                                            <img src="@sticker.Url" class="img-fluid" />
                                                            <a href="#!" onclick="sendSticker(this, @sticker.Id)">
                                                                <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                                                            </a>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Text Message -->
                                    <div id="messageSend" class="text-muted d-flex justify-content-start align-items-center pt-3">
                                        <img id="ownerAvatar" src="@ViewData["avatar"]" alt="owner" class="rounded-circle d-flex" style="width: 40px; height: 100%" />
                                        <div class="form-outline ms-3">
                                            <textarea type="text" rows="2" class="form-control form-control-lg" id="newMessage" placeholder="Message" data-mdb-showcounter="true" maxlength="300" onkeydown="pressEnter(event, @Model.Identity)" style="resize: none;"></textarea>
                                            <div class="form-helper"></div>
                                        </div>
                                        <a class="ms-3 btn btn-primary" role="button" href="#!" onclick="sendMessage()" title="Send"><i class="fa-solid fa-paper-plane fa-xl"></i></a>
                                    </div>

                                    <!-- Nav Content Message -->
                                    <div id="contentSend" class="d-flex mt-4">
                                        <div id="btnEmojis" class="d-grid col-4 ps-0">
                                            <a class="btn btn-warning" role="button" href="#!" onclick="showHidenEmojis()" title="Emojis">Emojis<i class="fa-solid fa-smile fa-2xl ms-1"></i></a>
                                        </div>
                                        <div id="btnStickers" class="d-grid col-4">
                                            <a class="ms-3 btn text-white" href="#!" onclick="showHidenStickers()" title="Stickers" style="background-color: hotpink;">Stickers<i class="fa-solid fa-face-kiss-wink-heart fa-2xl ms-1"></i></a>
                                        </div>
                                        <div class="d-grid col-4">
                                            <button type="button" class="ms-3 btn btn-danger" href="#!" title="Media" data-mdb-toggle="modal" data-mdb-target="#mediaModal">
                                                Media
                                                <i class="fa-solid fa-camera-retro fa-2xl ms-1"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="modal fade" id="modalComments" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content gradient-custom">
            </div>
        </div>
    </div>

    <!-- Modal Media -->
    <div class="modal fade" id="mediaModal" tabindex="-1" aria-labelledby="mediaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mediaModalLabel">MEDIA GALLERY</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="portfolio-menu mt-2">
                    <ul>
                        <li class="btn btn-outline-dark active" data-filter="*">Photo</li>
                        <li class="btn btn-outline-dark" data-filter=".gts">Video</li>
                        <li class="btn btn-outline-dark" data-filter=".lap">Audio</li>
                    </ul>
                </div>
                <div class="modal-body">
                    @*                    <div class="portfolio-item row ">
                @{
                var media = (Media)ViewData["photos"];
                foreach (var photo in media.Photos)
                {
                <div class="item photo col-lg-2 col-md-3 col-5 col-sm">
                <a href="@photo.Urls.UrlStandard" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="@photo.Urls.UrlPreview" alt="">
                </a>
                </div>
                }
                }
                </div>*@

                    @*                    <div class="portfolio-item row ">
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/stylish-young-woman-with-bags-taking-selfie_23-2147962203.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/stylish-young-woman-with-bags-taking-selfie_23-2147962203.jpg" alt="">
                </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/pretty-girl-near-car_1157-16962.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/pretty-girl-near-car_1157-16962.jpg" alt="">
                </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/blonde-tourist-taking-selfie_23-2147978899.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/blonde-tourist-taking-selfie_23-2147978899.jpg" alt="">
                </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/cute-girls-oin-studio_1157-18211.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/cute-girls-oin-studio_1157-18211.jpg" alt="">
                </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/stylish-pin-up-girls_1157-18451.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/stylish-pin-up-girls_1157-18451.jpg" alt="">
                </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/stylish-pin-up-girl_1157-18940.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/stylish-pin-up-girl_1157-18940.jpg" alt="">
                </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/digital-laptop-working-global-business-concept_53876-23438.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/digital-laptop-working-global-business-concept_53876-23438.jpg" alt="">
                </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-psd/set-digital-devices-screen-mockup_53876-76507.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-psd/set-digital-devices-screen-mockup_53876-76507.jpg" alt="">
                </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/young-brunette-woman-with-sunglasses-urban-background_1139-893.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/young-brunette-woman-with-sunglasses-urban-background_1139-893.jpg" alt="">
                </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-psd/laptop-digital-device-screen-mockup_53876-76509.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-psd/laptop-digital-device-screen-mockup_53876-76509.jpg" alt="">
                </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/young-woman-holding-pen-hand-thinking-while-writing-notebook_23-2148029424.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/young-woman-holding-pen-hand-thinking-while-writing-notebook_23-2148029424.jpg" alt="">
                </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-psd/female-fashion-concept_23-2147643598.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-psd/female-fashion-concept_23-2147643598.jpg" alt="">
                </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/girl-city_1157-16454.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/girl-city_1157-16454.jpg" alt="">
                </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/elegant-lady-with-laptop_1157-16643.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/elegant-lady-with-laptop_1157-16643.jpg" alt="">
                </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-psd/laptop-mock-up-lateral-view_1310-199.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-psd/laptop-mock-up-lateral-view_1310-199.jpg" alt="">
                </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/portrait-young-woman_1303-10071.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/portrait-young-woman_1303-10071.jpg" alt="">
                </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/beautiful-girl-near-wall_1157-16401.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/beautiful-girl-near-wall_1157-16401.jpg" alt="">
                </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/woman-taking-photograph-her-boyfriend-enjoying-piggyback-ride-his-back_23-2147841613.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/woman-taking-photograph-her-boyfriend-enjoying-piggyback-ride-his-back_23-2147841613.jpg" alt="">
                </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/girl-smiling-making-auto-photo-with-her-friends-around_1139-593.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/girl-smiling-making-auto-photo-with-her-friends-around_1139-593.jpg" alt="">
                </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/multiracial-group-young-people-taking-selfie_1139-1032.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/multiracial-group-young-people-taking-selfie_1139-1032.jpg" alt="">
                </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/laptop-wooden-table_53876-20635.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/laptop-wooden-table_53876-20635.jpg" alt="">
                </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/business-woman-working-laptop_1388-67.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/business-woman-working-laptop_1388-67.jpg" alt="">
                </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-psd/group-people-holding-laptop-mockup-charity_23-2148069565.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-psd/group-people-holding-laptop-mockup-charity_23-2148069565.jpg" alt="">
                </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/portrait-young-cheerful-woman-headphones-sitting-stairs_1262-17488.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/portrait-young-cheerful-woman-headphones-sitting-stairs_1262-17488.jpg" alt="">
                </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/celebration-concept-close-up-portrait-happy-young-beautiful-african-woman-black-t-shirt-smiling-with-colorful-party-balloon-yellow-pastel-studio-background_1258-934.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/celebration-concept-close-up-portrait-happy-young-beautiful-african-woman-black-t-shirt-smiling-with-colorful-party-balloon-yellow-pastel-studio-background_1258-934.jpg" alt="">
                </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/pretty-woman-showing-arm-muscles_23-2148056021.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/pretty-woman-showing-arm-muscles_23-2148056021.jpg" alt="">
                </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/blank-colorful-adhesive-notes-against-wooden-wall-with-office-stationeries-laptop_23-2148052717.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/blank-colorful-adhesive-notes-against-wooden-wall-with-office-stationeries-laptop_23-2148052717.jpg" alt="">
                </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/happy-woman-having-video-call-using-laptop-office_23-2148056211.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/happy-woman-having-video-call-using-laptop-office_23-2148056211.jpg" alt="">
                </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-psd/laptop-mockup-table-with-plants_23-2147955548.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-psd/laptop-mockup-table-with-plants_23-2147955548.jpg" alt="">
                </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/blank-colorful-adhesive-notes-against-wooden-wall-with-office-stationeries-laptop_23-2148052717.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/blank-colorful-adhesive-notes-against-wooden-wall-with-office-stationeries-laptop_23-2148052717.jpg" alt="">
                </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-psd/woman-using-laptop-smartphone_53876-76350.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-psd/woman-using-laptop-smartphone_53876-76350.jpg" alt="">
                </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/attractive-young-woman-with-curly-hair-takes-selfie-posing-looking-camera_8353-6636.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/attractive-young-woman-with-curly-hair-takes-selfie-posing-looking-camera_8353-6636.jpg" alt="">
                </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/young-couple-taking-selfie-mobile-phone-against-blue-background_23-2148056292.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/young-couple-taking-selfie-mobile-phone-against-blue-background_23-2148056292.jpg" alt="">
                </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/close-up-blonde-woman-sitting-sofa-using-laptop-with-blank-white-screen_23-2148028738.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/close-up-blonde-woman-sitting-sofa-using-laptop-with-blank-white-screen_23-2148028738.jpg" alt="">
                </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/group-happy-friends-taking-selfie-cellphone_23-2147859575.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/group-happy-friends-taking-selfie-cellphone_23-2147859575.jpg" alt="">
                </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/joyful-pretty-girl-with-curly-hair-takes-selfie-mobile-phone_8353-6635.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/joyful-pretty-girl-with-curly-hair-takes-selfie-mobile-phone_8353-6635.jpg" alt="">
                </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/attractive-young-woman-with-curly-hair-takes-selfie-posing-looking-camera_8353-6636.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/attractive-young-woman-with-curly-hair-takes-selfie-posing-looking-camera_8353-6636.jpg" alt="">
                </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/multiracial-group-young-people-taking-selfie_1139-1032.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/multiracial-group-young-people-taking-selfie_1139-1032.jpg" alt="">
                </a>
                </div>
                <div class="item selfie col-lg-3 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/two-smiling-girls-take-selfie-their-phones-posing-with-lollipops_8353-5600.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/two-smiling-girls-take-selfie-their-phones-posing-with-lollipops_8353-5600.jpg" alt="">
                </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/female-friends-sitting-car-hood-taking-self-portrait_23-2147855623.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/female-friends-sitting-car-hood-taking-self-portrait_23-2147855623.jpg" alt="">
                </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                <a href="https://image.freepik.com/free-photo/two-smiling-girls-take-selfie-their-phones-posing-with-lollipops_8353-5600.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="https://image.freepik.com/free-photo/two-smiling-girls-take-selfie-their-phones-posing-with-lollipops_8353-5600.jpg" alt="">
                </a>
                </div>
                </div>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="button" id="sendMedia" class="btn btn-primary">Send<i class="fa-solid fa-paper-plane fa-xl ps-1"></i></button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
@*    <script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr/dist/browser/signalr.min.js"
        asp-fallback-src="/lib/microsoft/signalr/dist/browser/signalr.min.js">
    </script>*@
    <script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"
        asp-fallback-src="~/lib/emoji-mart/dist/browser.js">
    </script>

    <script src="~/js/Chat/sendMessage.js"></script>
    <script src="~/js/Chat/chatMessagesArea.js"></script>
    <script src="~/js/Chat/chatNavTabs.js"></script>
    <script src="~/js/Chat/emoji.js"></script>
    <script src="~/js/Chat/media.js"></script>

    <script src="~/js/Chat/SignalR/dialogues.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
    }
}