@using Newtonsoft.Json;
@model IEnumerable<Sheet>

@{
    ViewData["Title"] = "User";
    var sites = (List<SheetSite>)ViewData["Sites"];
}

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div id="cardAddSheet" class="col">
            <div class="card h-100 text-center">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">

                    <a href="#">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body d-flex flex-column justify-content-end">
                    <div id="alertAddSheet" class="alert my-1 d-none"></div>
                    <h5 class="card-title">Add a new sheet</h5>
                    <form asp-action="AddSheet" method="post" data-ajax="true" data-ajax-success="successAddSheet" data-ajax-failure="failureAddSheet" data-ajax-loading="#spinnerAddSheet">

                        <div class="mb-3">
                            <select id="siteId" name="siteId" class="form-control">
                                <option selected>Select site</option>
                                @foreach (SheetSite s in sites)
                                {
                                    <option value="@s.Id">@s.Name</option>
                                }
                            </select>
                        </div>

                        <div class="form-outline mb-3">
                            <input type="text" id="login" name="login" class="form-control" autocomplete="off" required />
                            <label class="form-label" for="login">Login</label>
                        </div>

                        <div class="form-outline mb-3">
                            <input type="password" id="password" name="password" class="form-control" autocomplete="new-password" required />
                            <label class="form-label" for="password">Passowrd</label>
                        </div>

                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-plus mr-2"></i>
                            Add Sheet
                            <span id="spinnerAddSheet" class="spinner-border spinner-border-sm" style="display: none;"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        @if (Model != null)
        {
            foreach (var sheet in Model)
            {
                var sheetInfo = JsonConvert.DeserializeObject<SheetInfo>(sheet.Info);
                <div class="col">
                    <div class="card h-100 text-center">
                        <div class="bg-image hover-overlay ripple mt-3" data-mdb-ripple-color="light">
                            <img src="@sheetInfo.Personal?.AvatarSmall" class="img-fluid rounded-circle p-3" />
                            <a href="#">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@($"{sheetInfo.Personal?.Name} {sheetInfo.Personal?.LastName}")</h5>
                            <div>
                                <button type="button" class="btn btn-primary btn-floating" onclick="editSheet(this, @sheet.Id)">
                                    <i class="fa-solid fa-user-pen mr-2"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-floating" onclick="removeSheet(this, @sheet.Id)">
                                    <i class="fa-solid fa-trash mr-2"></i>
                                </button>
                            </div>
                            @*<div class="d-none input-group">
                    <input type="password" class="form-control" placeholder="New password" />
                    <button type="button" class="btn btn-success" data-mdb-ripple-color="success" onclick="changePassword(event, @profile.Id)">
                    <i class="fa-solid fa-save fa-xl"></i>
                    </button>
                    </div>*@
                            <div class="row d-none">
                                <div class="form-outline col w-100">
                                    <input type="password" name='@($"password{sheet.Id}")' id='@($"password{sheet.Id}")' class="form-control" autocomplete="new-password" />
                                    <label class="form-label" for='@($"password{sheet.Id}")'>New Password</label>
                                </div>
                                <div class="col-auto pe-0">
                                    <button type="button" class="btn btn-success btn-floating" data-mdb-ripple-color="success" onclick="changePassword(this, @sheet.Id)">
                                        <i class="fa-solid fa-save fa-xl"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11;">
    <div id="toast" class="toast text-white" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-mdb-delay="5000">
        <div class="d-flex">
            <div id="toastBody" class="toast-body">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-mdb-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/User/user.js" asp-append-version="true"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}
