@model IEnumerable<Profile>

@{
    ViewData["Title"] = "User";
}

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div id="cardAddProfile" class="col">
            <div class="card h-100 text-center">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">

                    <a href="#">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body d-flex flex-column justify-content-end">
                    <div id="alertAddProfile" class="alert my-1 d-none"></div>
                    <h5 class="card-title">Add a new profile</h5>
                    <form asp-action="AddProfile" method="post" data-ajax="true" data-ajax-success="successAddProfile" data-ajax-failure="failureAddProfile" data-ajax-loading="#spinnerAddProfile">
                        <div class="form-outline mb-3">
                            <input type="email" id="email" name="email" class="form-control" autocomplete="off" required />
                            <label class="form-label" for="email">Email</label>
                        </div>
                        <div class="form-outline mb-3">
                            <input type="password" id="password" name="password" class="form-control" required />
                            <label class="form-label" for="password">Passowrd</label>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-plus mr-2"></i>
                            Add profile
                            <span id="spinnerAddProfile" class="spinner-border spinner-border-sm" style="display: none;"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        @if (Model != null)
        {
            foreach (var profile in Model)
            {
                <div class="col">
                    <div class="card h-100 text-center">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="~/image/city.jpg" class="img-fluid" />
                            <a href="#">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@($"{profile.FirstName} {profile.LastName}")</h5>
                            <div>
                                <button type="button" class="btn btn-primary btn-floating" onclick="editProfile(event, @profile.Id)">
                                    <i class="fa-solid fa-user-pen mr-2"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-floating" onclick="removeProfile(event, @profile.Id)">
                                    <i class="fa-solid fa-trash mr-2"></i>
                                </button>
                            </div>
                            @*<div class="d-none input-group">
                                <input type="password" class="form-control" placeholder="New password" />
                                <button type="button" class="btn btn-success" data-mdb-ripple-color="success" onclick="changePassword(event, @profile.Id)">
                                <i class="fa-solid fa-save fa-xl"></i>
                                </button>
                             </div>*@
                            <div class="row d-none">
                                <div class="form-outline col w-100">
                                    <input type="password" name='@($"password{profile.Id}")' id='@($"password{profile.Id}")' class="form-control" />
                                    <label class="form-label" for='@($"password{profile.Id}")'>New Password</label>
                                </div>
                                <div class="col-auto pe-0">
                                    <button type="button" class="btn btn-success btn-floating" data-mdb-ripple-color="success" onclick="changePassword(event, @profile.Id)">
                                        <i class="fa-solid fa-save fa-xl"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11;">
    <div id="toast" class="toast text-white" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-mdb-delay="5000">
        <div class="d-flex">
            <div id="toastBody" class="toast-body">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-mdb-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/User/user.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
        }
