@using Newtonsoft.Json;
@model List<Sheet>

<div id="sheetsDialogues" class="small-block">
    <div class="bottom-block__item h-100 p-2">
        <ul class="d-flex justify-content-between text-white" id="sheetsDialogues" role="tablist">
            <li class="block__nav-item" role="presentation">
                <p class="nav-link active block__nav-link" id="active-tab" data-bs-toggle="tab" data-bs-target="#active" role="tab" aria-controls="active" aria-selected="true">
                    Профили
                </p>
            </li>
            <li class="block__nav-item" role="presentation">
                <p class="nav-link block__nav-link" id="hisoty-tab" data-bs-toggle="tab" data-bs-target="#history" role="tab" aria-controls="history" aria-selected="false" tabindex="-1">
                    История
                </p>
            </li>
            <li class="block__nav-item" role="presentation">
                <p class="nav-link block__nav-link" id="bookmarked-tab" data-bs-toggle="tab" data-bs-target="#bookmarked" role="tab" aria-controls="bookmarked" aria-selected="false" tabindex="-1">
                    Букмарк
                </p>
            </li>
            <li class="block__nav-item" role="presentation">
                <p class="nav-link block__nav-link" id="premium-tab" data-bs-toggle="tab" data-bs-target="#premium" role="tab" aria-controls="premium" aria-selected="false" tabindex="-1">
                    Премиум
                </p>
            </li>
            <li class="block__nav-item" role="presentation">
                <p class="nav-link block__nav-link" id="trash-tab" data-bs-toggle="tab" data-bs-target="#trash" role="tab" aria-controls="trash" aria-selected="false" tabindex="-1">
                    Треш
                </p>
            </li>
        </ul>
        @*
        <div id="sheetsDialoguesSearch">
        <div class="search-block d-flex justify-content-between align-items-center mt-3">
        <div class="search-block__item me-2 position-relative">
        <input id="searchSheetInput" type="text" placeholder="Поиск профилей" class="form-control search-block__input rounded ps-5" aria-labelledby="passwordHelpBlock" oninput="searchSheet(this)">
        <img src="~/image/layout/Zoom (Minus).svg" alt="Zoom" class="search-icon position-absolute">
        <div class="search-count p-1 d-flex justify-content-center align-items-center position-absolute rounded">
        @Model.Count
        </div>
        </div>

        <div class="search-block__item position-relative">
        <input id="searchMan" type="text" placeholder="Поиск мужчин" class="form-control search-block__input rounded ps-5" aria-labelledby="passwordHelpBlock" onkeypress="searchManKeyPress(event)" oninput="clearSearchMan()">
        <a href="#!" onclick="searchMan()">
        <img src="~/image/layout/Zoom (Minus).svg" alt="Zoom" class="search-icon position-absolute">
        </a>
        </div>
        </div>

        <div class="status-block d-flex justify-content-end align-items-center mt-3">
        <div class="status-block-item d-flex justify-content-between align-items-center">
        <input type="checkbox" checked class="status-icon-text-checkbox position-absolute opacity-0" id="isOnlineOnly" name="isOnlineOnly" value="yes" wfd-id="id2">
        <span class="status-icon rounded-circle"></span>
        <label for="isOnlineOnly" class="status-icon-text">Online</label>
        </div>
        </div>
        </div>*@

        <div id="sheetsDialoguesTabContent" class="tab-content text-white d-flex justify-content-end">

            @*<---------- All ------------->*@
            <div class="tab-pane active w-100" id="active" role="tabpanel" aria-labelledby="active-tab">
                <div name="searchSheetsDialogues" class="my-3">
                    <div class="search-block d-flex justify-content-between align-items-center">
                        <div class="search-block__item me-2 position-relative">
                            <input id="searchSheetInput-active" type="text" placeholder="Поиск профилей" class="form-control search-block__input rounded ps-5" aria-labelledby="passwordHelpBlock" oninput="searchSheet(this)">
                            <img src="~/image/layout/Zoom (Minus).svg" alt="Zoom" class="search-icon position-absolute">
                            <div class="search-count p-1 d-flex justify-content-center align-items-center position-absolute rounded">
                                @Model.Count
                            </div>
                        </div>

                        <div class="search-block__item position-relative">
                            <input id="searchMan-active" type="text" placeholder="Поиск мужчин" class="form-control search-block__input rounded ps-5" aria-labelledby="passwordHelpBlock" onkeypress="searchManKeyPress(event, 'active')" oninput="clearSearchMan(this, 'active')">
                            <a href="#!" onclick="searchMan('active')">
                                <img src="~/image/layout/Zoom (Minus).svg" alt="Zoom" class="search-icon position-absolute">
                            </a>
                        </div>
                    </div>

                    <div class="status-block d-flex justify-content-end align-items-center mt-3">
                        <div class="status-block-item d-flex justify-content-between align-items-center">
                            <input type="checkbox" checked class="status-icon-text-checkbox position-absolute opacity-0" id="isOnlineOnly-active" name="isOnlineOnly-active" value="yes" wfd-id="id2">
                            <span class="status-icon rounded-circle"></span>
                            <label for="isOnlineOnly-active" class="status-icon-text">Online</label>
                        </div>
                    </div>
                </div>
                <div class="accordion-items">
                    @if (Model != null)
                    {
                        @foreach (var sheet in Model)
                        {
                            var info = JsonConvert.DeserializeObject<SheetInfo>(sheet.Info);
                            <div class="accordion-item tab-content-item p-2 rounded mt-2" data-sheet-identity="@sheet.Identity" data-sheet-id="@sheet.Id">
                                <div class="accordion-item-button collapsed" data-bs-toggle="collapse" data-bs-target="@($"#flush-collapse-active-{sheet.Id}")" aria-expanded="false" aria-controls="@($"flush-collapse-{sheet.Id}")" role="button">
                                    <div class="accordion-image position-relative">
                                        <img name="ownerAvatar" src="@info.Personal.AvatarSmall" alt="Person image" class="standart-image rounded">
                                        @if (info.IsOnline)
                                        {
                                            <span class="status-circle-green rounded-circle d-inline-block position-absolute bottom-0 accordion-info-status"></span>
                                        }
                                        else
                                        {
                                            <span class="status-circle-red rounded-circle d-inline-block position-absolute bottom-0 accordion-info-status"></span>
                                        }
                                    </div>
                                    <div class="accordion-info d-flex flex-column justify-content-center align-items-center">
                                        <p name="ownerName" class="accordion-info-text accordion-info-bigtext">
                                            @info.Personal.Name
                                        </p>
                                        <p name="ownerId" class="accordion-info-text accordion-info-smalltext">
                                            @info.Id
                                        </p>
                                    </div>
                                    <div class="accordion-count__block pe-2 d-flex justify-content-end align-items-center">
                                        <div class="accordion-count__block-items d-flex flex-column justify-content-between align-items-center">
                                            <div id="@($"count-dialogues-active-{sheet.Id}")" class="accordion-count p-1 d-flex justify-content-center align-items-center rounded"></div>
                                            <img src="/image/layout/VectorDownArrow.svg" alt="DownArrow" class="mt-1">
                                        </div>
                                    </div>
                                </div>
                                <div id="@($"flush-collapse-active-{sheet.Id}")" class="accordion-collapse collapse mt-3" @*data-bs-parent="#sheetsDialoguesTabContent"*@>
                                    <div id="@($"dialogues-active-{sheet.Id}")" name="dialogues" class="accordion-body">
                                        @*<vc:sheet-dialogues sheet="sheet" online="true"></vc:sheet-dialogues>*@
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

            @*<---------- History ---------->*@
            <div class="tab-pane position-relative w-100" id="history" role="tabpanel" aria-labelledby="history-tab" data-initialized="false">
                History
            </div>

            @*<---------- bookmarked --------->*@
            <div class="tab-pane w-100" id="bookmarked" role="tabpanel" aria-labelledby="bookmarked-tab">
                <div name="searchSheetsDialogues" class="my-3">
                    <div class="search-block d-flex justify-content-between align-items-center">
                        <div class="search-block__item me-2 position-relative">
                            <input id="searchSheetInput-bookmarked" type="text" placeholder="Поиск профилей" class="form-control search-block__input rounded ps-5" aria-labelledby="passwordHelpBlock" oninput="searchSheet(this)">
                            <img src="~/image/layout/Zoom (Minus).svg" alt="Zoom" class="search-icon position-absolute">
                            <div class="search-count p-1 d-flex justify-content-center align-items-center position-absolute rounded">
                                @Model.Count
                            </div>
                        </div>

                        <div class="search-block__item position-relative">
                            <input id="searchMan-bookmarked" type="text" placeholder="Поиск мужчин" class="form-control search-block__input rounded ps-5" aria-labelledby="passwordHelpBlock" onkeypress="searchManKeyPress(event, 'bookmarked')" oninput="clearSearchMan(this, 'bookmarked')">
                            <a href="#!" onclick="searchMan('bookmarked')">
                                <img src="~/image/layout/Zoom (Minus).svg" alt="Zoom" class="search-icon position-absolute">
                            </a>
                        </div>
                    </div>

                    <div class="status-block d-flex justify-content-end align-items-center mt-3">
                        <div class="status-block-item d-flex justify-content-between align-items-center">
                            <input type="checkbox" checked class="status-icon-text-checkbox position-absolute opacity-0" id="isOnlineOnly-bookmarked" name="isOnlineOnly-bookmarked" value="yes" wfd-id="id2">
                            <span class="status-icon rounded-circle"></span>
                            <label for="isOnlineOnly-bookmarked" class="status-icon-text">Online</label>
                        </div>
                    </div>
                </div>
                <div class="accordion-items">
                    @if (Model != null)
                    {
                        @foreach (var sheet in Model)
                        {
                            var info = JsonConvert.DeserializeObject<SheetInfo>(sheet.Info);
                            <div class="accordion-item tab-content-item p-2 rounded mt-2" data-sheet-identity="@sheet.Identity" data-sheet-id="@sheet.Id">
                                <div class="accordion-item-button collapsed" data-bs-toggle="collapse" data-bs-target="@($"#flush-collapse-bookmarked-{sheet.Id}")" aria-expanded="false" aria-controls="@($"flush-collapse-{sheet.Id}")" role="button">
                                    <div class="accordion-image position-relative">
                                        <img name="ownerAvatar" src="@info.Personal.AvatarSmall" alt="Person image" class="standart-image rounded">
                                        @if (info.IsOnline)
                                        {
                                            <span class="status-circle-green rounded-circle d-inline-block position-absolute bottom-0 accordion-info-status"></span>
                                        }
                                        else
                                        {
                                            <span class="status-circle-red rounded-circle d-inline-block position-absolute bottom-0 accordion-info-status"></span>
                                        }
                                    </div>
                                    <div class="accordion-info d-flex flex-column justify-content-center align-items-center">
                                        <p name="ownerName" class="accordion-info-text accordion-info-bigtext">
                                            @info.Personal.Name
                                        </p>
                                        <p name="ownerId" class="accordion-info-text accordion-info-smalltext">
                                            @info.Id
                                        </p>
                                    </div>
                                    <div class="accordion-count__block pe-2 d-flex justify-content-end align-items-center">
                                        <div class="accordion-count__block-items d-flex flex-column justify-content-between align-items-center">
                                            <div id="@($"count-dialogues-bookmarked-{sheet.Id}")" class="accordion-count p-1 d-flex justify-content-center align-items-center rounded"></div>
                                            <img src="/image/layout/VectorDownArrow.svg" alt="DownArrow" class="mt-1">
                                        </div>
                                    </div>
                                </div>
                                <div id="@($"flush-collapse-bookmarked-{sheet.Id}")" class="accordion-collapse collapse mt-3" @*data-bs-parent="#sheetsDialoguesTabContent"*@>
                                    <div id="@($"dialogues-bookmarked-{sheet.Id}")" name="dialogues" class="accordion-body">
                                        @*<vc:sheet-dialogues sheet="sheet" online="true"></vc:sheet-dialogues>*@
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

            @*<---------- Premium ---------->*@
            <div class="tab-pane w-100" id="premium" role="tabpanel" aria-labelledby="premium-tab">
                <div name="searchSheetsDialogues" class="my-3">
                    <div class="search-block d-flex justify-content-between align-items-center">
                        <div class="search-block__item me-2 position-relative">
                            <input id="searchSheetInput-premium" type="text" placeholder="Поиск профилей" class="form-control search-block__input rounded ps-5" aria-labelledby="passwordHelpBlock" oninput="searchSheet(this)">
                            <img src="~/image/layout/Zoom (Minus).svg" alt="Zoom" class="search-icon position-absolute">
                            <div class="search-count p-1 d-flex justify-content-center align-items-center position-absolute rounded">
                                @Model.Count
                            </div>
                        </div>

                        <div class="search-block__item position-relative">
                            <input id="searchMan-premium" type="text" placeholder="Поиск мужчин" class="form-control search-block__input rounded ps-5" aria-labelledby="passwordHelpBlock" onkeypress="searchManKeyPress(event, 'premium')" oninput="clearSearchMan(this, 'premium')">
                            <a href="#!" onclick="searchMan('premium')">
                                <img src="~/image/layout/Zoom (Minus).svg" alt="Zoom" class="search-icon position-absolute">
                            </a>
                        </div>
                    </div>

                    <div class="status-block d-flex justify-content-end align-items-center mt-3">
                        <div class="status-block-item d-flex justify-content-between align-items-center">
                            <input type="checkbox" checked class="status-icon-text-checkbox position-absolute opacity-0" id="isOnlineOnly-premium" name="isOnlineOnly-premium" value="yes" wfd-id="id2">
                            <span class="status-icon rounded-circle"></span>
                            <label for="isOnlineOnly-premium" class="status-icon-text">Online</label>
                        </div>
                    </div>
                </div>
                <div class="accordion-items">
                    @if (Model != null)
                    {
                        @foreach (var sheet in Model)
                        {
                            var info = JsonConvert.DeserializeObject<SheetInfo>(sheet.Info);
                            <div class="accordion-item tab-content-item p-2 rounded mt-2" data-sheet-identity="@sheet.Identity" data-sheet-id="@sheet.Id">
                                <div class="accordion-item-button collapsed" data-bs-toggle="collapse" data-bs-target="@($"#flush-collapse-premium-{sheet.Id}")" aria-expanded="false" aria-controls="@($"flush-collapse-{sheet.Id}")" role="button">
                                    <div class="accordion-image position-relative">
                                        <img name="ownerAvatar" src="@info.Personal.AvatarSmall" alt="Person image" class="standart-image rounded">
                                        @if (info.IsOnline)
                                        {
                                            <span class="status-circle-green rounded-circle d-inline-block position-absolute bottom-0 accordion-info-status"></span>
                                        }
                                        else
                                        {
                                            <span class="status-circle-red rounded-circle d-inline-block position-absolute bottom-0 accordion-info-status"></span>
                                        }
                                    </div>
                                    <div class="accordion-info d-flex flex-column justify-content-center align-items-center">
                                        <p name="ownerName" class="accordion-info-text accordion-info-bigtext">
                                            @info.Personal.Name
                                        </p>
                                        <p name="ownerId" class="accordion-info-text accordion-info-smalltext">
                                            @info.Id
                                        </p>
                                    </div>
                                    <div class="accordion-count__block pe-2 d-flex justify-content-end align-items-center">
                                        <div class="accordion-count__block-items d-flex flex-column justify-content-between align-items-center">
                                            <div id="@($"count-dialogues-premium-{sheet.Id}")" class="accordion-count p-1 d-flex justify-content-center align-items-center rounded"></div>
                                            <img src="/image/layout/VectorDownArrow.svg" alt="DownArrow" class="mt-1">
                                        </div>
                                    </div>
                                </div>
                                <div id="@($"flush-collapse-premium-{sheet.Id}")" class="accordion-collapse collapse mt-3" @*data-bs-parent="#sheetsDialoguesTabContent"*@>
                                    <div id="@($"dialogues-premium-{sheet.Id}")" name="dialogues" class="accordion-body">
                                        @*<vc:sheet-dialogues sheet="sheet" online="true"></vc:sheet-dialogues>*@
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

            @*<---------- Trash ------------>*@
            <div class="tab-pane w-100" id="trash" role="tabpanel" aria-labelledby="trash-tab">
                <div name="searchSheetsDialogues" class="my-3">
                    <div class="search-block d-flex justify-content-between align-items-center">
                        <div class="search-block__item me-2 position-relative">
                            <input id="searchSheetInput-trash" type="text" placeholder="Поиск профилей" class="form-control search-block__input rounded ps-5" aria-labelledby="passwordHelpBlock" oninput="searchSheet(this)">
                            <img src="~/image/layout/Zoom (Minus).svg" alt="Zoom" class="search-icon position-absolute">
                            <div class="search-count p-1 d-flex justify-content-center align-items-center position-absolute rounded">
                                @Model.Count
                            </div>
                        </div>

                        <div class="search-block__item position-relative">
                            <input id="searchMan-trash" type="text" placeholder="Поиск мужчин" class="form-control search-block__input rounded ps-5" aria-labelledby="passwordHelpBlock" onkeypress="searchManKeyPress(event, 'trash')" oninput="clearSearchMan(this, 'trash')">
                            <a href="#!" onclick="searchMan(c)">
                                <img src="~/image/layout/Zoom (Minus).svg" alt="Zoom" class="search-icon position-absolute">
                            </a>
                        </div>
                    </div>

                    <div class="status-block d-flex justify-content-end align-items-center mt-3">
                        <div class="status-block-item d-flex justify-content-between align-items-center">
                            <input type="checkbox" checked class="status-icon-text-checkbox position-absolute opacity-0" id="isOnlineOnly-trash" name="isOnlineOnly-trash" value="yes" wfd-id="id2">
                            <span class="status-icon rounded-circle"></span>
                            <label for="isOnlineOnly-trash" class="status-icon-text">Online</label>
                        </div>
                    </div>
                </div>
                <div class="accordion-items">
                    @if (Model != null)
                    {
                        @foreach (var sheet in Model)
                        {
                            var info = JsonConvert.DeserializeObject<SheetInfo>(sheet.Info);
                            <div class="accordion-item tab-content-item p-2 rounded mt-2" data-sheet-identity="@sheet.Identity" data-sheet-id="@sheet.Id">
                                <div class="accordion-item-button collapsed" data-bs-toggle="collapse" data-bs-target="@($"#flush-collapse-trash-{sheet.Id}")" aria-expanded="false" aria-controls="@($"flush-collapse-{sheet.Id}")" role="button">
                                    <div class="accordion-image position-relative">
                                        <img name="ownerAvatar" src="@info.Personal.AvatarSmall" alt="Person image" class="standart-image rounded">
                                        @if (info.IsOnline)
                                        {
                                            <span class="status-circle-green rounded-circle d-inline-block position-absolute bottom-0 accordion-info-status"></span>
                                        }
                                        else
                                        {
                                            <span class="status-circle-red rounded-circle d-inline-block position-absolute bottom-0 accordion-info-status"></span>
                                        }
                                    </div>
                                    <div class="accordion-info d-flex flex-column justify-content-center align-items-center">
                                        <p name="ownerName" class="accordion-info-text accordion-info-bigtext">
                                            @info.Personal.Name
                                        </p>
                                        <p name="ownerId" class="accordion-info-text accordion-info-smalltext">
                                            @info.Id
                                        </p>
                                    </div>
                                    <div class="accordion-count__block pe-2 d-flex justify-content-end align-items-center">
                                        <div class="accordion-count__block-items d-flex flex-column justify-content-between align-items-center">
                                            <div id="@($"count-dialogues-trash-{sheet.Id}")" class="accordion-count p-1 d-flex justify-content-center align-items-center rounded"></div>
                                            <img src="/image/layout/VectorDownArrow.svg" alt="DownArrow" class="mt-1">
                                        </div>
                                    </div>
                                </div>
                                <div id="@($"flush-collapse-trash-{sheet.Id}")" class="accordion-collapse collapse mt-3" @*data-bs-parent="#sheetsDialoguesTabContent"*@>
                                    <div id="@($"dialogues-trash-{sheet.Id}")" name="dialogues" class="accordion-body">
                                        @*<vc:sheet-dialogues sheet="sheet" online="true"></vc:sheet-dialogues>*@
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        </div>
    </div>
</div>