@using Humanizer;
@model Dialogue

@if (Model != null)
{
    <input type="hidden" id="cursor" value="" />
    <li id="@($"user_{Model.IdInterlocutor}")" class="p-3 border-bottom">
        <a href="#!" class="d-flex justify-content-between" onclick="activatingDialogue(@Model.IdInterlocutor)">
            <div class="d-flex flex-row">
                <div>
                    <img src="@Model.Avatar" alt="avatar" class="rounded-circle d-flex align-self-center me-3" width="60" />
                    @switch (Model.Status)
                    {
                        case Status.Online:
                            <span class="badge bg-success badge-dot"></span>
                            break;

                        case Status.Offline:
                            <span class="badge bg-danger badge-dot"></span>
                            break;
                    }
                </div>
                <div class="pt-1">
                    <p name="userName" class="fw-bold mb-0">@($"{Model.UserName}, {Model.Age}")</p>
                    @*<p class="small text-muted">@chat?.LastMessage?.Content?.Message.Truncate(15)</p>*@
                </div>
            </div>
            <div class="pt-1 ms-1">
                <p class="small text-muted mb-1 text-nowrap">@Model.DateUpdated.Humanize()</p>
                @if (Model.HasNewMessage)
                {
                    <span id="@($"numberOfUnreadMessages_{Model.IdInterlocutor}")" class="badge bg-danger rounded-pill float-end">1</span>
                }
                else
                {
                    <span id="@($"numberOfUnreadMessages_{Model.IdInterlocutor}")" class="badge bg-danger rounded-pill float-end d-none"></span>
                }
            </div>
        </a>
    </li>
}
else
{
    <div class="text-center">Man is not found</div>
}