@using Core.Models.Agencies.Cabinets;
@model IEnumerable<AgencyCabinet>

@{
    ViewData["Title"] = "Cabinets";
    var operatorSessionsView = (IEnumerable<OperatorSessionsView>)ViewData["operators"];
}

<div class="row">

    <div class="col-md-12 col-lg-4 mb-3">

        <div id="toolbarTableCabinets" class="row mb-3 pt-3">
            <div class="col pe-0">
                <div class="input-group rounded">
                    <span class="input-group-text border-0" id="search-addon-cabinets">
                        <i class="fa-solid fa-search"></i>
                    </span>
                    <input type="search" id="searchCabinets" class="form-control rounded" oninput="searchTable(event, 'tableCabinets')" placeholder="Search" aria-label="search" aria-describedby="search-addon-cabinets" autocomplete="off" />
                </div>
            </div>
            <div class="col-auto">
                <button type="button" id="addCabinet" class="btn btn-primary" style="min-width: 142px;">
                    <i class="fa-solid fa-plus"></i>
                    Add cabinet
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-12 tableFixedHead">
                <table id="tableCabinets" class="table table-sm table-bordered table-hover text-center">
                    <thead>
                        <tr>
                            <th style="width: 0px;">Id</th>
                            <th class="w-100">Cabinet</th>
                            <th class="text-truncate">Total Sheets</th>
                            <th class="text-truncate">Total Users</th>
                        </tr>
                        <tr>
                            <th class="p-0" colspan="4"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model?.Count() > 0)
                        {
                            <tr onclick="selectedCabinet(event)" class="tr-border">
                                <td>
                                    <i class="fa-solid fa-cubes-stacked fa-xl"></i>
                                </td>
                                <td class="text-start">All Cabinets</td>
                                <td>@Model.Sum(c => c.Sheets?.Count)</td>
                                <td>@(operatorSessionsView?.Count() ?? 0)</td>
                            </tr>
                            foreach (var c in Model)
                            {
                                <tr data-cabinet-id="@c.Id" onclick="selectedCabinet(event)">
                                    <td>@($"C{c.Id}")</td>
                                    <td class="text-start">@c.Name</td>
                                    <td>@c.Sheets?.Count</td>
                                    <td>@operatorSessionsView?.Where(osv => osv.IsBindedCabinet(c.Id)).Count()</td>
                                </tr>
                            }
                        }
                        <tr class="tr-placeholder">
                            <td colspan="4">No cabinets</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-8">
        <div class="row mb-3 pt-3">
            <div class="col pe-0">
                <div class="input-group rounded">
                    <span class="input-group-text border-0" id="search-addon-users">
                        <i class="fa-solid fa-search"></i>
                    </span>
                    <input type="search" id="searchUsers" class="form-control rounded" oninput="searchTable(event, 'tableUsers')" placeholder="Search" aria-label="search" aria-describedby="search-addon-users" />
                </div>
            </div>
            <div class="col-auto">
                <a id="addUser" class="btn btn-primary" asp-controller="AdminAgency" asp-action="Users" asp-route-agencyId="@(ViewData["agencyId"] ?? "0")" asp-route-returnUrl="@ViewData["returnUrl"]" style="min-width: 142px;">
                    <i class="fa-solid fa-plus"></i>
                    Add user
                </a>
            </div>
        </div>

        <div class="row h-100">
            <div class="col-12 tableFixedHead">
                <table id="tableUsers" class="table table-sm table-bordered table-hover text-center">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Role</th>
                            <th>Name</th>
                            <th>Mail</th>
                            <th>Cabinets</th>
                            <th>Rights</th>
                        </tr>
                        <tr>
                            <th class="p-0" colspan="6"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model?.Count() > 0)
                        {
                            int count = 1;
                            foreach (var osv in operatorSessionsView)
                            {
                                var userCabinets = Model.Where(c => osv.IsBindedCabinet(c.Id));
                                <tr id="@($"tr_{osv.Operator.Id}")" class="align-middle" data-cabinets="@(string.Join( ",", userCabinets.Select(c => c.Id)))">
                                    <td>@count</td>
                                    <td>operator</td>
                                    <td>@osv.Operator.Member.User.Login</td>
                                    <td>@osv.Operator.Member.User.Email</td>
                                    <td name="cabinets" class="text-start py-1">
                                        @if (userCabinets.Count() < 5)
                                        {
                                            <div class="d-grid d-md-block gap-1">
                                                @foreach (var cabinet in userCabinets)
                                                {
                                                    <div id="@($"container_{osv.Operator.Id}_{cabinet.Id}")" class="btn-group" style="display: contents;">
                                                        <button id="@($"{osv.Operator.Id}_{cabinet.Id}")" type="button" class="btn btn-sm btn-primary btn-rounded dropdown-toggle btn-size-fixed py-1" data-mdb-toggle="dropdown" aria-expanded="false" data-mdb-ripple-color="primary">@($"C{cabinet.Id}")</button>
                                                        <ul class="dropdown-menu dropdown-menu-width" aria-labelledby="@($"{osv.Operator.Id}_{cabinet.Id}")">
                                                            <li class="btn-size-fixed bg-danger">
                                                                <button class="dropdown-item btn bg-danger text-center" onclick="unbindCabinetToUser(@cabinet.Id, @osv.Operator.Id)">
                                                                    <i class="fa-solid fa-trash"></i>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                }
                                                <button type="button" class="btn btn-sm btn-success btn-rounded btn-size-fixed p-1" onclick="bindCabinetToUser(this, @osv.Operator.Id, '@osv.Operator.Member.User.Email')">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <div class="dropdown" style="width: 200px;">
                                                    <a role="button" href="#" id="@($"button_dropdown_{osv.Operator.Id}")" type="button" class="btn btn-sm btn-primary btn-rounded btn-block dropdown-toggle py-1" data-mdb-toggle="dropdown" aria-expanded="false">@($"Total Cabinets {userCabinets.Count()}")</a>
                                                    <ul class="dropdown-menu w-100" aria-labelledby="@osv.Operator.Id">
                                                        @foreach (var cabinet in userCabinets)
                                                        {
                                                            <li id="@($"container_{osv.Operator.Id}_{cabinet.Id}")">
                                                                <div class="dropdown-item">
                                                                    <div class="row align-items-center">
                                                                        <div class="col">
                                                                            @($"C{cabinet.Id}")
                                                                        </div>
                                                                        <div class="col-auto">
                                                                            <button type="button" class="btn btn-danger btn-sm" onclick="unbindCabinetToUser(@cabinet.Id, @osv.Operator.Id)">
                                                                                <i class="fa-solid fa-trash"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                        <li>
                                                            <div class="dropdown-item">
                                                                <div class="row align-items-center">
                                                                    <div class="col">Add cabinet</div>
                                                                    <div class="col-auto">
                                                                        <button type="button" class="btn btn-success btn-sm" onclick="bindCabinetToUser(this, @osv.Operator.Id, '@osv.Operator.Member.User.Email')">
                                                                            <i class="fa-solid fa-plus"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                count++;
                            }
                        }
                        <tr class="tr-placeholder">
                            <td colspan="6">No users</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="modalBindCabinet" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bind Cabinets</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formBindCabinet" asp-action="BindCabinetsToUser" method="post" data-ajax="true" data-ajax-success="successBindCabinets" data-ajax-failure="failureBindCabinets" data-ajax-loading="#spinnerBindCabinets" novalidate="novalidate">
                <div class="modal-body">
                    <input type="hidden" name="agencyId" value="@ViewData["agencyId"]" />
                    <input type="hidden" id="operatorId" name="operatorId" />
                    <input type="hidden" id="userName" name="userName" />
                    @foreach (var c in Model)
                    {
                        <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" id="@c.Id" name="cabinets" value="@c.Id" />
                            <label class="form-check-label" for="@c.Id">@c.Name</label>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button id="btnBindCabinets" type="submit" class="btn btn-sm btn-success">
                        <i class="fa-solid fa-save"></i>
                        Save
                        <span id="spinnerBindCabinets" class="spinner-border spinner-border-sm" style="display: none;"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<partial name="_AddCabinet" />
<partial name="_Toast" />

@section Scripts{
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Cabinet/cabinet.js"></script>
}