@using Core.Models.Agencies.Cabinets;
@model IEnumerable<AgencyCabinet>

@{
    ViewData["Title"] = "Cabinets";
    Layout = "_LayoutGrid";
    var operatorSessionsView = (IEnumerable<OperatorSessionsView>)ViewData["operators"];
}

<div class="container-fluid my-3 overflow-hidden">
    <div class="row h-100">
        <div class="grid col-4 h-100">
            <div id="toolbarTableCabinets" class="row mb-3 pt-1">
                <div class="col pe-0">
                    <div class="input-group rounded">
                        <span class="input-group-text border-0" id="search-addon-cabinets">
                            <i class="fa-solid fa-search"></i>
                        </span>
                        <input type="search" id="searchCabinets" class="form-control rounded text-white" oninput="searchTable(event, 'tableCabinets')" placeholder="Search" aria-label="search" aria-describedby="search-addon-cabinets" autocomplete="off" />
                    </div>
                </div>
                <div class="col-auto">
                    <button type="button" id="addCabinet" class="btn btn-outline-success" style="min-width: 142px;">
                        <i class="fa-solid fa-plus"></i>
                        Add cabinet
                    </button>
                </div>
            </div>

            <div class="col-12 tableFixedHead overflow-y-auto">
                <table id="tableCabinets" class="table table-sm table-bordered table-hover table-dark text-center mb-0">
                    <thead class="sticky-top">
                        <tr>
                            <th style="width: 0px;">Id</th>
                            <th class="w-100">Cabinet</th>
                            <th class="text-truncate">Total Sheets</th>
                            <th class="text-truncate">Total Users</th>
                        </tr>
                        <tr>
                            <th class="p-0" colspan="4"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model?.Count() > 0)
                        {
                            <tr onclick="selectedCabinet(event)" class="tr-border">
                                <td>
                                    <i class="fa-solid fa-cubes-stacked fa-xl"></i>
                                </td>
                                <td class="text-start">All Cabinets</td>
                                <td>@Model.Sum(c => c.Sheets?.Count)</td>
                                <td>@(operatorSessionsView?.Count() ?? 0)</td>
                            </tr>
                            foreach (var c in Model)
                            {
                                <tr data-cabinet-id="@c.Id" onclick="selectedCabinet(event)">
                                    <td>@($"C{c.Id}")</td>
                                    <td class="text-start">@c.Name</td>
                                    <td>@c.Sheets?.Count</td>
                                    <td>@operatorSessionsView?.Where(osv => osv.IsBindedCabinet(c.Id)).Count()</td>
                                </tr>
                            }
                        }
                        <tr class="tr-placeholder">
                            <td colspan="4">No cabinets</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="grid col-8 h-100">
            <div class="row mb-3 pt-1">
                <div class="col pe-0">
                    <div class="input-group rounded">
                        <span class="input-group-text border-0" id="search-addon-users">
                            <i class="fa-solid fa-search"></i>
                        </span>
                        <input type="search" id="searchUsers" class="form-control rounded text-white" oninput="searchTable(event, 'tableUsers')" placeholder="Search" aria-label="search" aria-describedby="search-addon-users" />
                    </div>
                </div>
                <div class="col-auto">
                    <a id="addUser" class="btn btn-outline-success" asp-controller="AdminAgency" asp-action="Users" asp-route-agencyId="@(ViewData["agencyId"] ?? "0")" asp-route-returnUrl="@ViewData["returnUrl"]" style="min-width: 142px;">
                        <i class="fa-solid fa-plus"></i>
                        Add user
                    </a>
                </div>
            </div>

            <div class="col-12 tableFixedHead overflow-y-auto">
                <table id="tableUsers" class="table table-sm table-bordered table-hover table-dark text-center mb-0">
                    <thead class="sticky-top">
                        <tr>
                            <th>№</th>
                            <th>Role</th>
                            <th>Name</th>
                            <th>Mail</th>
                            <th>Cabinets</th>
                            @*<th>Rights</th>*@
                        </tr>
                        <tr>
                            <th class="p-0" colspan="5"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model?.Count() > 0)
                        {
                            int count = 1;
                            foreach (var osv in operatorSessionsView)
                            {
                                var userCabinets = Model.Where(c => osv.IsBindedCabinet(c.Id));
                                <tr id="@($"tr_{osv.Operator.Id}")" class="align-middle" data-cabinets="@(string.Join( ",", userCabinets.Select(c => c.Id)))">
                                    <td>@count</td>
                                    <td>operator</td>
                                    <td>@osv.Operator.Member.User.Login</td>
                                    <td>@osv.Operator.Member.User.Email</td>
                                    <td name="cabinets" class="text-start">
                                        @foreach (var cabinet in userCabinets)
                                        {
                                            <button id="@($"{osv.Operator.Id}_{cabinet.Id}")" type="button" class="btn btn-sm btn-outline-success btn-trash text-white my-1" onclick="unbindCabinetToUser(@cabinet.Id, @osv.Operator.Id)">
                                                <span>
                                                    @($"C{cabinet.Id}")
                                                </span>
                                            </button>
                                        }
                                        <button type="button" class="btn btn-sm btn-outline-success my-1" onclick="bindCabinetToUser(this, @osv.Operator.Id, '@osv.Operator.Member.User.Email')">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                                count++;
                            }
                        }
                        <tr class="tr-placeholder">
                            <td colspan="5">No users</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalBindCabinet" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-port_gore border-custom">
            <div class="modal-header p-2">
                <h5 class="modal-title text-white">Bind Cabinets</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formBindCabinet" asp-action="BindCabinetsToUser" method="post" data-ajax="true" data-ajax-success="successBindCabinets" data-ajax-failure="failureBindCabinets" data-ajax-loading="#spinnerBindCabinets" novalidate="novalidate">
                <div class="modal-body">
                    <input type="hidden" name="agencyId" value="@ViewData["agencyId"]" />
                    <input type="hidden" id="operatorId" name="operatorId" />
                    <input type="hidden" id="userName" name="userName" />
                    @foreach (var c in Model)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="@c.Id" name="cabinets" value="@c.Id" />
                            <label class="form-check-label text-white" for="@c.Id">@c.Name</label>
                        </div>
                    }
                </div>
                <div class="modal-footer p-2">
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">Close</button>
                    <button id="btnBindCabinets" type="submit" class="btn btn-sm btn-outline-success">
                        <i class="fa-solid fa-save"></i>
                        Save
                        <span id="spinnerBindCabinets" class="spinner-border spinner-border-sm" style="display: none;"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<partial name="_AddCabinet" />
<partial name="_Toast" />

@section Scripts{
    <script src="~/js/jquery.unobtrusive-ajax.min.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Cabinet/cabinet.js" asp-append-version="true"></script>
}