@using Newtonsoft.Json;
@model List<Sheet>

@{
    Layout = "_LayoutNew";
    ViewData["Title"] = "Ice";
    var icesInfo = (List<IceInfo>)ViewData["icesInfo"];
}
<div class="row bottom-block__items h-100 d-flex flex-column">
    <div class="wrapper p-0 h-100">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 d-flex justify-content-between flex-wrap  h-100">
                    <div class="wrapper-item d-flex flex-column h-100">
                        <div class="refresh text-start">
                            <button class="refresh__btn mb-2">Обновить айсы</button>
                        </div>
                        <div class="wrapper-search position-relative">
                            <input type="text" class="search__inp" placeholder="Искать по оператору" oninput="searchOperator(this)">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.97 17.19C4.43 17.19 0.75 13.51 0.75 8.97C0.75 4.43 4.43 0.75 8.97 0.75C13.51 0.75 17.19 4.43 17.19 8.97C17.19 13.51 13.51 17.19 8.97 17.19Z" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M19.25 19.25L15.14 15.14" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            <span class="search_count">10</span>
                        </div>
                        <div class="wrapper-search position-relative">
                            <input type="text" class="search__inp" placeholder="Искать анкету" oninput="searchSheet(this)">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.97 17.19C4.43 17.19 0.75 13.51 0.75 8.97C0.75 4.43 4.43 0.75 8.97 0.75C13.51 0.75 17.19 4.43 17.19 8.97C17.19 13.51 13.51 17.19 8.97 17.19Z" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M19.25 19.25L15.14 15.14" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            <span class="search_count">@(Model?.Count ?? 0)</span>
                        </div>
                        <div class="wrapper-box h-100">
                            @if (Model != null)
                            {
                                foreach (var sheet in Model.OrderByDescending(i => i.Created))
                                {
                                    var info = JsonConvert.DeserializeObject<SheetInfo>(sheet.Info);
                                    var iceInfo = icesInfo.FirstOrDefault(i => i.IdTrustedUser == info.Id);
                                    <div name="sheet" class="wrapper-list d-flex align-items-center justify-content-between" data-sheet-id="@sheet.Id">
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="user-box d-flex align-items-center">
                                                <div class="avatar position-relative">
                                                    <img src="@info.Personal.AvatarSmall" alt="" class="avatar__img w-100 h-100">
                                                    @if (iceInfo == null)
                                                    {
                                                        <div class="offline position-absolute"></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="online position-absolute"></div>
                                                    }
                                                </div>
                                                <div class="">
                                                    <p class="user__name">@info.Personal.Name</p>
                                                    <p name="sheetId" class="user__info">@sheet.Identity</p>
                                                </div>
                                            </a>
                                            <a href="#" class="next-user">
                                                <p class="user__name">Влад</p>
                                                <p name="operatorId" class="user__info">32132132</p>
                                            </a>
                                        </div>
                                        <div class="info-box">
                                            <div class="info-box-chats">
                                                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M8.67 16.97C8.43 16.99 8.19 17 7.95 17C6.78 17 5.66999 16.72 4.67999 16.23L0.789993 16.79L1.38 12.88H1.39C0.989999 12 0.75 11.03 0.75 10C0.75 8.11001 1.51999 6.40001 2.75999 5.14001" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M8.86 8.77997C9.30183 8.77997 9.66 8.43075 9.66 7.99997C9.66 7.56919 9.30183 7.21997 8.86 7.21997C8.41817 7.21997 8.06 7.56919 8.06 7.99997C8.06 8.43075 8.41817 8.77997 8.86 8.77997Z" fill="#7D6AF0"></path>
                                                    <path d="M12.06 8.77997C12.5018 8.77997 12.86 8.43075 12.86 7.99997C12.86 7.56919 12.5018 7.21997 12.06 7.21997C11.6182 7.21997 11.26 7.56919 11.26 7.99997C11.26 8.43075 11.6182 8.77997 12.06 8.77997Z" fill="#7D6AF0"></path>
                                                    <path d="M15.25 8.77997C15.6918 8.77997 16.05 8.43075 16.05 7.99997C16.05 7.56919 15.6918 7.21997 15.25 7.21997C14.8082 7.21997 14.45 7.56919 14.45 7.99997C14.45 8.43075 14.8082 8.77997 15.25 8.77997Z" fill="#7D6AF0"></path>
                                                    <path d="M18.62 10.88L19.21 14.79L15.32 14.23C14.62 14.58 13.86 14.82 13.05 14.93C12.73 14.98 12.39 15 12.05 15C8.06999 15 4.85999 11.87 4.85999 8C4.85999 6.07 5.64998 4.35 6.94998 3.08C8.23998 1.79 10.05 1 12.06 1C16.04 1 19.25 4.13 19.25 8C19.25 9.03 19.01 10 18.61 10.88H18.62V10.88Z" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                                <span class="info-box-chats__num">@(iceInfo?.NumberOfMessages)</span>
                                            </div>
                                            <div class="info-box-mess">
                                                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M16.85 15H3.15C1.83 15 0.75 13.93 0.75 12.6V3.4C0.75 2.08 1.82 1 3.15 1H16.85C18.17 1 19.25 2.07 19.25 3.4V12.6C19.25 13.93 18.18 15 16.85 15Z" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M18.22 1.77002L11.35 8.59002C10.58 9.36002 9.41999 9.36002 8.63999 8.59002L1.76999 1.77002" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.13 7.91998L18.22 13.83" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M1.78 13.83L7.94 8" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                                <span class="info-box-mess__num">@iceInfo?.NumberOfMails</span>
                                            </div>
                                        </div>

                                        <div class="chats-box d-flex justify-content-between flex-wrap">
                                            <a href="#" class="">
                                                <svg name="Message" @(@iceInfo?.MessageInProgress == 1 ? "" : "class=opacity-50") width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M8.67 16.97C8.43 16.99 8.19 17 7.95 17C6.78 17 5.66999 16.72 4.67999 16.23L0.789993 16.79L1.38 12.88H1.39C0.989999 12 0.75 11.03 0.75 10C0.75 8.11001 1.51999 6.40001 2.75999 5.14001" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M8.86 8.77997C9.30183 8.77997 9.66 8.43075 9.66 7.99997C9.66 7.56919 9.30183 7.21997 8.86 7.21997C8.41817 7.21997 8.06 7.56919 8.06 7.99997C8.06 8.43075 8.41817 8.77997 8.86 8.77997Z" fill="#7D6AF0"></path>
                                                    <path d="M12.06 8.77997C12.5018 8.77997 12.86 8.43075 12.86 7.99997C12.86 7.56919 12.5018 7.21997 12.06 7.21997C11.6182 7.21997 11.26 7.56919 11.26 7.99997C11.26 8.43075 11.6182 8.77997 12.06 8.77997Z" fill="#7D6AF0"></path>
                                                    <path d="M15.25 8.77997C15.6918 8.77997 16.05 8.43075 16.05 7.99997C16.05 7.56919 15.6918 7.21997 15.25 7.21997C14.8082 7.21997 14.45 7.56919 14.45 7.99997C14.45 8.43075 14.8082 8.77997 15.25 8.77997Z" fill="#7D6AF0"></path>
                                                    <path d="M18.62 10.88L19.21 14.79L15.32 14.23C14.62 14.58 13.86 14.82 13.05 14.93C12.73 14.98 12.39 15 12.05 15C8.06999 15 4.85999 11.87 4.85999 8C4.85999 6.07 5.64998 4.35 6.94998 3.08C8.23998 1.79 10.05 1 12.06 1C16.04 1 19.25 4.13 19.25 8C19.25 9.03 19.01 10 18.61 10.88H18.62V10.88Z" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </a>
                                            <a href="#" class="">
                                                <svg name="Mail" @(@iceInfo?.MailInPprogress == 1 ? "" : "class=opacity-50") width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M16.85 15H3.15C1.83 15 0.75 13.93 0.75 12.6V3.4C0.75 2.08 1.82 1 3.15 1H16.85C18.17 1 19.25 2.07 19.25 3.4V12.6C19.25 13.93 18.18 15 16.85 15Z" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M18.22 1.77002L11.35 8.59002C10.58 9.36002 9.41999 9.36002 8.63999 8.59002L1.76999 1.77002" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.13 7.91998L18.22 13.83" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M1.78 13.83L7.94 8" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                    <div class="wrapper-item d-flex flex-column h-100">
                        <div class="middle-head d-flex justify-content-between p-2">
                            <div class="middle-head-left">
                                <span>
                                    <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="filterIce(this, 'Message')">
                                        <path d="M8.67 16.97C8.43 16.99 8.19 17 7.95 17C6.78 17 5.66999 16.72 4.67999 16.23L0.789993 16.79L1.38 12.88H1.39C0.989999 12 0.75 11.03 0.75 10C0.75 8.11001 1.51999 6.40001 2.75999 5.14001" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M8.86 8.77997C9.30183 8.77997 9.66 8.43075 9.66 7.99997C9.66 7.56919 9.30183 7.21997 8.86 7.21997C8.41817 7.21997 8.06 7.56919 8.06 7.99997C8.06 8.43075 8.41817 8.77997 8.86 8.77997Z" fill="#7D6AF0"></path>
                                        <path d="M12.06 8.77997C12.5018 8.77997 12.86 8.43075 12.86 7.99997C12.86 7.56919 12.5018 7.21997 12.06 7.21997C11.6182 7.21997 11.26 7.56919 11.26 7.99997C11.26 8.43075 11.6182 8.77997 12.06 8.77997Z" fill="#7D6AF0"></path>
                                        <path d="M15.25 8.77997C15.6918 8.77997 16.05 8.43075 16.05 7.99997C16.05 7.56919 15.6918 7.21997 15.25 7.21997C14.8082 7.21997 14.45 7.56919 14.45 7.99997C14.45 8.43075 14.8082 8.77997 15.25 8.77997Z" fill="#7D6AF0"></path>
                                        <path d="M18.62 10.88L19.21 14.79L15.32 14.23C14.62 14.58 13.86 14.82 13.05 14.93C12.73 14.98 12.39 15 12.05 15C8.06999 15 4.85999 11.87 4.85999 8C4.85999 6.07 5.64998 4.35 6.94998 3.08C8.23998 1.79 10.05 1 12.06 1C16.04 1 19.25 4.13 19.25 8C19.25 9.03 19.01 10 18.61 10.88H18.62V10.88Z" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                                <span>
                                    <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="filterIce(this, 'Mail')">
                                        <path d="M16.85 15H3.15C1.83 15 0.75 13.93 0.75 12.6V3.4C0.75 2.08 1.82 1 3.15 1H16.85C18.17 1 19.25 2.07 19.25 3.4V12.6C19.25 13.93 18.18 15 16.85 15Z" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M18.22 1.77002L11.35 8.59002C10.58 9.36002 9.41999 9.36002 8.63999 8.59002L1.76999 1.77002" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M12.13 7.91998L18.22 13.83" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M1.78 13.83L7.94 8" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                            </div>
                            <div class="d-flex">
                                <div class="select position-relative">
                                    <div class="select-title d-flex align-items-center justify-content-between">
                                        <span class="select-title__text">Дата создания</span>
                                        <svg class="arrow" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.825 0L5 3.7085L1.175 0L0 1.1417L5 6L10 1.1417L8.825 0Z" fill="#9292A3"></path>
                                        </svg>
                                    </div>
                                    <ul class="select-info position-absolute" onselect="sort">
                                        <li id="data" class="select-info__list">Дата создания</li>
                                        <li id="efficiency" class="select-info__list">Эффективный</li>
                                        <li id="numberOfMessage" class="select-info__list">Количество чатов</li>
                                        <li id="numberOfMail" class="select-info__list">Количество писем</li>
                                    </ul>
                                </div>
                                <button class="add__btn">
                                    <svg class="me-1" width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.68018 1.58825L7.77564 14.4116" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M1.31622 7.95221L14.1396 8.04767" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                    Добавить
                                </button>
                            </div>
                        </div>
                        <div class="middle-box h-100">
                        </div>
                    </div>

                    <div class="wrapper-item d-flex flex-column h-100">
                        <div class="progress-head d-flex align-items-center justify-content-between">
                            <span class="progress-head__text">In progress</span>
                            <span class="view-trash">View Trash</span>
                        </div>
                        <div class="progress-box h-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pop-up tarsh -->
<div class="pop-up trash d-none">
    <div class="pop-up-content">
        <p class="trash__title">Trash</p>
        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="pop-up__close">
            <path d="M1 1L10 10" stroke="#9B9BAB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M10 1L1 10" stroke="#9B9BAB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <div class="trash-box">
            @*            <div class="trash-item">
            <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
            <div class="avatar">
            <img src="assets/img/png/user.png" alt="" class="avatar__img">
            </div>
            <a href="#" class="user__name">Alina</a>
            </div>
            <div class="">
            <span class="chat me-2">
            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.67 16.97C8.43 16.99 8.19 17 7.95 17C6.78 17 5.66999 16.72 4.67999 16.23L0.789993 16.79L1.38 12.88H1.39C0.989999 12 0.75 11.03 0.75 10C0.75 8.11001 1.51999 6.40001 2.75999 5.14001" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M8.86 8.77997C9.30183 8.77997 9.66 8.43075 9.66 7.99997C9.66 7.56919 9.30183 7.21997 8.86 7.21997C8.41817 7.21997 8.06 7.56919 8.06 7.99997C8.06 8.43075 8.41817 8.77997 8.86 8.77997Z" fill="#7D6AF0"></path>
            <path d="M12.06 8.77997C12.5018 8.77997 12.86 8.43075 12.86 7.99997C12.86 7.56919 12.5018 7.21997 12.06 7.21997C11.6182 7.21997 11.26 7.56919 11.26 7.99997C11.26 8.43075 11.6182 8.77997 12.06 8.77997Z" fill="#7D6AF0"></path>
            <path d="M15.25 8.77997C15.6918 8.77997 16.05 8.43075 16.05 7.99997C16.05 7.56919 15.6918 7.21997 15.25 7.21997C14.8082 7.21997 14.45 7.56919 14.45 7.99997C14.45 8.43075 14.8082 8.77997 15.25 8.77997Z" fill="#7D6AF0"></path>
            <path d="M18.62 10.88L19.21 14.79L15.32 14.23C14.62 14.58 13.86 14.82 13.05 14.93C12.73 14.98 12.39 15 12.05 15C8.06999 15 4.85999 11.87 4.85999 8C4.85999 6.07 5.64998 4.35 6.94998 3.08C8.23998 1.79 10.05 1 12.06 1C16.04 1 19.25 4.13 19.25 8C19.25 9.03 19.01 10 18.61 10.88H18.62V10.88Z" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            </span>
            <span class="reply">
            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.799988 3.80005L3.69999 6.50005" stroke="#55DEA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M0.799988 3.8L3.69999 1" stroke="#55DEA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M1.79999 3.80005H10.4C13.1 3.80005 15.2 5.90005 15.2 8.40005C15.2 10.9 13 13 10.4 13" stroke="#55DEA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            </span>
            </div>
            </div>
            <p class="trash-item__text">The most. The worst. Movie you are ever seen. What was that?</p>
            </div>
            <div class="trash-item">
            <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
            <div class="avatar">
            <img src="assets/img/png/user.png" alt="" class="avatar__img">
            </div>
            <a href="#" class="user__name">Alina</a>
            </div>
            <div class="">
            <span class="chat me-2">
            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.67 16.97C8.43 16.99 8.19 17 7.95 17C6.78 17 5.66999 16.72 4.67999 16.23L0.789993 16.79L1.38 12.88H1.39C0.989999 12 0.75 11.03 0.75 10C0.75 8.11001 1.51999 6.40001 2.75999 5.14001" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M8.86 8.77997C9.30183 8.77997 9.66 8.43075 9.66 7.99997C9.66 7.56919 9.30183 7.21997 8.86 7.21997C8.41817 7.21997 8.06 7.56919 8.06 7.99997C8.06 8.43075 8.41817 8.77997 8.86 8.77997Z" fill="#7D6AF0"></path>
            <path d="M12.06 8.77997C12.5018 8.77997 12.86 8.43075 12.86 7.99997C12.86 7.56919 12.5018 7.21997 12.06 7.21997C11.6182 7.21997 11.26 7.56919 11.26 7.99997C11.26 8.43075 11.6182 8.77997 12.06 8.77997Z" fill="#7D6AF0"></path>
            <path d="M15.25 8.77997C15.6918 8.77997 16.05 8.43075 16.05 7.99997C16.05 7.56919 15.6918 7.21997 15.25 7.21997C14.8082 7.21997 14.45 7.56919 14.45 7.99997C14.45 8.43075 14.8082 8.77997 15.25 8.77997Z" fill="#7D6AF0"></path>
            <path d="M18.62 10.88L19.21 14.79L15.32 14.23C14.62 14.58 13.86 14.82 13.05 14.93C12.73 14.98 12.39 15 12.05 15C8.06999 15 4.85999 11.87 4.85999 8C4.85999 6.07 5.64998 4.35 6.94998 3.08C8.23998 1.79 10.05 1 12.06 1C16.04 1 19.25 4.13 19.25 8C19.25 9.03 19.01 10 18.61 10.88H18.62V10.88Z" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            </span>
            <span class="reply">
            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.799988 3.80005L3.69999 6.50005" stroke="#55DEA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M0.799988 3.8L3.69999 1" stroke="#55DEA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M1.79999 3.80005H10.4C13.1 3.80005 15.2 5.90005 15.2 8.40005C15.2 10.9 13 13 10.4 13" stroke="#55DEA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            </span>
            </div>
            </div>
            <p class="trash-item__text">The most. The worst. Movie you are ever seen. What was that?</p>
            </div>
            <div class="trash-item">
            <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
            <div class="avatar">
            <img src="assets/img/png/user.png" alt="" class="avatar__img">
            </div>
            <a href="#" class="user__name">Alina</a>
            </div>
            <div class="">
            <span class="chat me-2">
            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.67 16.97C8.43 16.99 8.19 17 7.95 17C6.78 17 5.66999 16.72 4.67999 16.23L0.789993 16.79L1.38 12.88H1.39C0.989999 12 0.75 11.03 0.75 10C0.75 8.11001 1.51999 6.40001 2.75999 5.14001" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M8.86 8.77997C9.30183 8.77997 9.66 8.43075 9.66 7.99997C9.66 7.56919 9.30183 7.21997 8.86 7.21997C8.41817 7.21997 8.06 7.56919 8.06 7.99997C8.06 8.43075 8.41817 8.77997 8.86 8.77997Z" fill="#7D6AF0"></path>
            <path d="M12.06 8.77997C12.5018 8.77997 12.86 8.43075 12.86 7.99997C12.86 7.56919 12.5018 7.21997 12.06 7.21997C11.6182 7.21997 11.26 7.56919 11.26 7.99997C11.26 8.43075 11.6182 8.77997 12.06 8.77997Z" fill="#7D6AF0"></path>
            <path d="M15.25 8.77997C15.6918 8.77997 16.05 8.43075 16.05 7.99997C16.05 7.56919 15.6918 7.21997 15.25 7.21997C14.8082 7.21997 14.45 7.56919 14.45 7.99997C14.45 8.43075 14.8082 8.77997 15.25 8.77997Z" fill="#7D6AF0"></path>
            <path d="M18.62 10.88L19.21 14.79L15.32 14.23C14.62 14.58 13.86 14.82 13.05 14.93C12.73 14.98 12.39 15 12.05 15C8.06999 15 4.85999 11.87 4.85999 8C4.85999 6.07 5.64998 4.35 6.94998 3.08C8.23998 1.79 10.05 1 12.06 1C16.04 1 19.25 4.13 19.25 8C19.25 9.03 19.01 10 18.61 10.88H18.62V10.88Z" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            </span>
            <span class="reply">
            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.799988 3.80005L3.69999 6.50005" stroke="#55DEA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M0.799988 3.8L3.69999 1" stroke="#55DEA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M1.79999 3.80005H10.4C13.1 3.80005 15.2 5.90005 15.2 8.40005C15.2 10.9 13 13 10.4 13" stroke="#55DEA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            </span>
            </div>
            </div>
            <p class="trash-item__text">The most. The worst. Movie you are ever seen. What was that?</p>
            </div>*@
        </div>
    </div>
</div>

<!-- pop-up add chat and mail -->
<div class="pop-up chatAndMail d-none">
    <div class="pop-up-content w-50">
        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="pop-up__close">
            <path d="M1 1L10 10" stroke="#9B9BAB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M10 1L1 10" stroke="#9B9BAB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <div class="h-100 d-flex flex-column">
            <div class="d-flex justify-content-between flex-grow-1">
                <div class="chatAndMail-item d-flex flex-column">
                    <div class="chatAndMail-item-head d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <!-- Emojis -->
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg" class="textarea-icon" onclick="showHidenEmojisIce('emojisIceChat')">
                                <circle cx="13" cy="13" r="13" fill="#9483FD"></circle>
                                <path d="M10.8994 15.8008C11.4944 16.2418 12.2189 16.5008 12.9994 16.5008C13.7799 16.5008 14.5044 16.2418 15.0994 15.8008" stroke="#3C29AB" stroke-linecap="round"></path>
                                <path d="M15.7994 11.9504C15.7994 12.53 15.4858 13.0004 15.0994 13.0004C14.713 13.0004 14.3994 12.53 14.3994 11.9504C14.3994 11.3708 14.713 10.9004 15.0994 10.9004C15.4858 10.9004 15.7994 11.3708 15.7994 11.9504Z" fill="#3C29AB"></path>
                                <path d="M10.9002 13.0004C11.2868 13.0004 11.6002 12.5303 11.6002 11.9504C11.6002 11.3705 11.2868 10.9004 10.9002 10.9004C10.5136 10.9004 10.2002 11.3705 10.2002 11.9504C10.2002 12.5303 10.5136 13.0004 10.9002 13.0004Z" fill="#3C29AB"></path>
                                <path d="M9.5 6.93661C10.5637 6.32124 11.7712 5.99811 13 6.00001C16.8661 6.00001 20 9.13391 20 13C20 16.8661 16.8661 20 13 20C9.1339 20 6 16.8661 6 13C6 11.7253 6.3409 10.529 6.9366 9.50001" stroke="#3C29AB" stroke-linecap="round"></path>
                            </svg>
                            <div class="position-relative">
                                <div id="emojisIceChat" class="position-absolute ms-1 d-none" style="right: 30px; top: -15px">
                                </div>
                            </div>

                            <p class="chatAndMail-item__title">Type Chat!</p>
                        </div>
                        <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.67 16.97C8.43 16.99 8.19 17 7.95 17C6.78 17 5.66999 16.72 4.67999 16.23L0.789993 16.79L1.38 12.88H1.39C0.989999 12 0.75 11.03 0.75 10C0.75 8.11001 1.51999 6.40001 2.75999 5.14001" stroke="#5A5A75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M8.86 8.77997C9.30183 8.77997 9.66 8.43075 9.66 7.99997C9.66 7.56919 9.30183 7.21997 8.86 7.21997C8.41817 7.21997 8.06 7.56919 8.06 7.99997C8.06 8.43075 8.41817 8.77997 8.86 8.77997Z" fill="#5A5A75"></path>
                            <path d="M12.06 8.77997C12.5018 8.77997 12.86 8.43075 12.86 7.99997C12.86 7.56919 12.5018 7.21997 12.06 7.21997C11.6182 7.21997 11.26 7.56919 11.26 7.99997C11.26 8.43075 11.6182 8.77997 12.06 8.77997Z" fill="#5A5A75"></path>
                            <path d="M15.25 8.77997C15.6918 8.77997 16.05 8.43075 16.05 7.99997C16.05 7.56919 15.6918 7.21997 15.25 7.21997C14.8082 7.21997 14.45 7.56919 14.45 7.99997C14.45 8.43075 14.8082 8.77997 15.25 8.77997Z" fill="#5A5A75"></path>
                            <path d="M18.62 10.88L19.21 14.79L15.32 14.23C14.62 14.58 13.86 14.82 13.05 14.93C12.73 14.98 12.39 15 12.05 15C8.06999 15 4.85999 11.87 4.85999 8C4.85999 6.07 5.64998 4.35 6.94998 3.08C8.23998 1.79 10.05 1 12.06 1C16.04 1 19.25 4.13 19.25 8C19.25 9.03 19.01 10 18.61 10.88H18.62V10.88Z" stroke="#5A5A75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <textarea id="chatIceTextArea" class="chatAndMail__write d-flex flex-grow-1 p-4" maxlength="300" oninput="changeChatIceCounter()"></textarea>
                    <div class="chatAndMail-item-footer d-flex align-items-center justify-content-end">
                        <span id="chatIceCounter">0</span> <span class="mx-1">/</span> <span>300</span> <span class="ms-1">символов</span>
                    </div>
                </div>
                <div class="chatAndMail-item d-flex flex-column">
                    <div class="chatAndMail-item-head d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <!-- Emojis -->
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg" class="textarea-icon" onclick="showHidenEmojisIce('emojisIceMail')">
                                <circle cx="13" cy="13" r="13" fill="#9483FD"></circle>
                                <path d="M10.8994 15.8008C11.4944 16.2418 12.2189 16.5008 12.9994 16.5008C13.7799 16.5008 14.5044 16.2418 15.0994 15.8008" stroke="#3C29AB" stroke-linecap="round"></path>
                                <path d="M15.7994 11.9504C15.7994 12.53 15.4858 13.0004 15.0994 13.0004C14.713 13.0004 14.3994 12.53 14.3994 11.9504C14.3994 11.3708 14.713 10.9004 15.0994 10.9004C15.4858 10.9004 15.7994 11.3708 15.7994 11.9504Z" fill="#3C29AB"></path>
                                <path d="M10.9002 13.0004C11.2868 13.0004 11.6002 12.5303 11.6002 11.9504C11.6002 11.3705 11.2868 10.9004 10.9002 10.9004C10.5136 10.9004 10.2002 11.3705 10.2002 11.9504C10.2002 12.5303 10.5136 13.0004 10.9002 13.0004Z" fill="#3C29AB"></path>
                                <path d="M9.5 6.93661C10.5637 6.32124 11.7712 5.99811 13 6.00001C16.8661 6.00001 20 9.13391 20 13C20 16.8661 16.8661 20 13 20C9.1339 20 6 16.8661 6 13C6 11.7253 6.3409 10.529 6.9366 9.50001" stroke="#3C29AB" stroke-linecap="round"></path>
                            </svg>
                            <div class="position-relative">
                                <div id="emojisIceMail" class="position-absolute ms-1 d-none" style="right: 30px; top: -15px">
                                </div>
                            </div>

                            <p class="chatAndMail-item__title">Type mail!</p>
                        </div>
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.85 15H3.15C1.83 15 0.75 13.93 0.75 12.6V3.4C0.75 2.08 1.82 1 3.15 1H16.85C18.17 1 19.25 2.07 19.25 3.4V12.6C19.25 13.93 18.18 15 16.85 15Z" stroke="#5A5A75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M18.22 1.77002L11.35 8.59002C10.58 9.36002 9.41999 9.36002 8.63999 8.59002L1.76999 1.77002" stroke="#5A5A75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M12.13 7.91998L18.22 13.83" stroke="#5A5A75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M1.78 13.83L7.94 8" stroke="#5A5A75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <textarea id="mailIceTextArea" class="chatAndMail__write d-flex flex-grow-1 p-4" maxlength="1000" oninput="changeMailIceCounter()"></textarea>
                    <div class="chatAndMail-item-footer d-flex align-items-center justify-content-end">
                        <span id="mailIceCounter">0</span> <span class="mx-1">/</span> <span>1000</span> <span class="ms-1">символов</span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button id="sendToModeration" class="sumbit" type="button">
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.17 6.85999L9.39998 11.75C9.04998 12.11 8.49998 12.19 8.05998 11.95L2.29997 8.79999C1.44997 8.33999 1.55 7.09999 2.45 6.76999L18.76 0.819989C19.65 0.499989 20.52 1.35999 20.2 2.24999L14.39 18.51C14.07 19.4 12.87 19.52 12.38 18.72L10.21 15.17" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    Send to moderation
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js" asp-fallback-src="/lib/emoji-mart/dist/browser.js" asp-fallback-test="window.EmojiMart" asp-append-version="true"></script>
    <script src="/js/Ice/ice.js" asp-append-version="true"></script>
    <script src="/js/Ice/emoji.js" asp-append-version="true"></script>
}

