@using Newtonsoft.Json;
@model List<Sheet>

@{
    ViewData["Title"] = "Ice";
    var icesInfo = (List<IceInfo>)ViewData["icesInfo"];
}

<svg display="none">
    <symbol id="messageSvg" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.67 16.97C8.43 16.99 8.19 17 7.95 17C6.78 17 5.66999 16.72 4.67999 16.23L0.789993 16.79L1.38 12.88H1.39C0.989999 12 0.75 11.03 0.75 10C0.75 8.11001 1.51999 6.40001 2.75999 5.14001" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M8.86 8.77997C9.30183 8.77997 9.66 8.43075 9.66 7.99997C9.66 7.56919 9.30183 7.21997 8.86 7.21997C8.41817 7.21997 8.06 7.56919 8.06 7.99997C8.06 8.43075 8.41817 8.77997 8.86 8.77997Z" fill="#7D6AF0"></path>
        <path d="M12.06 8.77997C12.5018 8.77997 12.86 8.43075 12.86 7.99997C12.86 7.56919 12.5018 7.21997 12.06 7.21997C11.6182 7.21997 11.26 7.56919 11.26 7.99997C11.26 8.43075 11.6182 8.77997 12.06 8.77997Z" fill="#7D6AF0"></path>
        <path d="M15.25 8.77997C15.6918 8.77997 16.05 8.43075 16.05 7.99997C16.05 7.56919 15.6918 7.21997 15.25 7.21997C14.8082 7.21997 14.45 7.56919 14.45 7.99997C14.45 8.43075 14.8082 8.77997 15.25 8.77997Z" fill="#7D6AF0"></path>
        <path d="M18.62 10.88L19.21 14.79L15.32 14.23C14.62 14.58 13.86 14.82 13.05 14.93C12.73 14.98 12.39 15 12.05 15C8.06999 15 4.85999 11.87 4.85999 8C4.85999 6.07 5.64998 4.35 6.94998 3.08C8.23998 1.79 10.05 1 12.06 1C16.04 1 19.25 4.13 19.25 8C19.25 9.03 19.01 10 18.61 10.88H18.62V10.88Z" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    </symbol>
    <symbol id="mailSvg" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.85 15H3.15C1.83 15 0.75 13.93 0.75 12.6V3.4C0.75 2.08 1.82 1 3.15 1H16.85C18.17 1 19.25 2.07 19.25 3.4V12.6C19.25 13.93 18.18 15 16.85 15Z" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M18.22 1.77002L11.35 8.59002C10.58 9.36002 9.41999 9.36002 8.63999 8.59002L1.76999 1.77002" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M12.13 7.91998L18.22 13.83" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M1.78 13.83L7.94 8" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    </symbol>
    <symbol id="searchSvg" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.97 17.19C4.43 17.19 0.75 13.51 0.75 8.97C0.75 4.43 4.43 0.75 8.97 0.75C13.51 0.75 17.19 4.43 17.19 8.97C17.19 13.51 13.51 17.19 8.97 17.19Z" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M19.25 19.25L15.14 15.14" stroke="#9292A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    </symbol>
</svg>

<div class="d-grid h-100 overflow-hidden gap-2 p-2 text-white text-center" style="grid-template-columns: repeat(3, 1fr);">
    <div class="wrapper-item d-flex flex-column overflow-y-auto rounded border p-3 bg-martinique">
        <div class="refresh text-start d-none">
            <button class="refresh__btn mb-2">Обновить айсы</button>
        </div>

        <div class="search-block d-flex align-items-center gap-2 p-2 border rounded mb-3">
            <div>
                <svg width="20" height="20" viewBox="0 0 20 20">
                    <use xlink:href="#searchSvg"></use>
                </svg>
            </div>
            <div class="flex-fill h-100">
                <input type="text" class="w-100 h-100 text-white bg-martinique" placeholder="Искать по оператору" oninput="searchOperator(this)">
            </div>
            <span class="d-flex justify-content-center align-items-center border rounded h-100 text-white-50">
                0
            </span>
        </div>

        <div class="search-block d-flex align-items-center gap-2 p-2 border rounded mb-3">
            <div>
                <svg width="20" height="20" viewBox="0 0 20 20">
                    <use xlink:href="#searchSvg"></use>
                </svg>
            </div>
            <div class="flex-fill h-100">
                <input type="text" class="w-100 h-100 text-white bg-martinique" placeholder="Искать анкету" oninput="searchSheet(this)">
            </div>
            <span class="d-flex justify-content-center align-items-center border rounded h-100 text-white-50">
                @(Model?.Count ?? 0)
            </span>
        </div>

        <div class="h-100 overflow-y-auto">
            @if (Model != null)
            {
                foreach (var sheet in Model.OrderByDescending(i => i.Created))
                {
                    var info = JsonConvert.DeserializeObject<SheetInfo>(sheet.Info);
                    var iceInfo = icesInfo.FirstOrDefault(i => i.IdTrustedUser == info.Id);

                    <div name="sheet" class="sheet-card d-flex align-items-center justify-content-between border rounded cursor-pointer mb-2 p-2" data-sheet-id="@sheet.Id">
                        <div class="sheet-girl col-4 d-flex align-items-center rounded p-2 bg-martinique">
                            <div class="avatar position-relative">
                                <img src="@info.Personal.AvatarSmall" alt="" class="w-100 h-100 rounded">
                                @if (iceInfo == null)
                                {
                                    <div class="status-circle-red rounded-circle position-absolute end-0 bottom-0"></div>
                                }
                                else
                                {
                                    <div class="status-circle-green rounded-circle position-absolute end-0 bottom-0"></div>
                                }
                            </div>

                            <div class="d-grid w-100 ps-2">
                                <p class="text-truncate">@info.Personal.Name</p>
                                <p name="sheetId" class="text-truncate text-white-50 text-small">@sheet.Identity</p>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <p class="text-truncate">Оператор</p>
                            <p name="operatorId" class="text-truncate text-white-50 text-small">32132132</p>
                        </div>

                        <div class="col">
                            <div class="sheet-ice-counters d-grid gap-1 rounded p-1 bg-martinique">
                                <div class="row">
                                    <div class="col-6 d-flex align-items-center justify-content-end p-0">
                                        <svg width="20" height="18" viewBox="0 0 20 18">
                                            <use xlink:href="#messageSvg"></use>
                                        </svg>
                                    </div>
                                    <span class="col-6 d-flex align-items-center">@(iceInfo?.NumberOfMessages ?? 0)</span>
                                </div>
                                <div class="row">
                                    <div class="col-6 d-flex align-items-center justify-content-end p-0">
                                    <svg width="20" height="18" viewBox="0 0 20 18">
                                        <use xlink:href="#mailSvg"></use>
                                    </svg>
                                    </div>
                                    <span class="col-6 d-flex align-items-center">@(iceInfo?.NumberOfMails ?? 0)</span>
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex justify-content-evenly p-2">
                            <svg name="Message" @(@iceInfo?.MessageInProgress == 1 ? "" : "class=opacity-50") width="20" height="18" viewBox="0 0 20 18">
                                <use xlink:href="#messageSvg"></use>
                            </svg>
                            <svg name="Mail" @(@iceInfo?.MailInPprogress == 1 ? "" : "class=opacity-50") width="20" height="18" viewBox="0 0 20 18">
                                <use xlink:href="#mailSvg"></use>
                            </svg>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="wrapper-item d-flex flex-column overflow-y-auto rounded border p-3 bg-martinique">
        <div class="middle-head d-flex justify-content-between align-items-center p-2 rounded mb-3 bg-port_gore">
            <div class="middle-head-left d-flex rounded">
                <span class="d-flex justify-content-center align-items-center w-50">
                    <svg class="cursor-pointer" width="20" height="18" viewBox="0 0 20 18" onclick="filterIce(this, 'Message')">
                        <use xlink:href="#messageSvg"></use>
                    </svg>
                </span>
                <span class="d-flex justify-content-center align-items-center w-50">
                    <svg class="cursor-pointer" width="20" height="18" viewBox="0 0 20 18" onclick="filterIce(this, 'Mail')">
                        <use xlink:href="#mailSvg"></use>
                    </svg>
                </span>
            </div>


            <div class="d-flex justify-content-end h-100">
                <select id="selectIce" class="form-control" onselect="sort">
                    <option value="data" selected>Дата создания</option>
                    <option value="efficiency">Эффективный</option>
                    <option value="numberOfMessage">Количество чатов</option>
                    <option value="numberOfMail">Количество писем</option>
                </select>
            </div>

            <button class="add__btn fw-bold rounded bg-martinique">
                <svg class="me-1" width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.68018 1.58825L7.77564 14.4116" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M1.31622 7.95221L14.1396 8.04767" stroke="#7D6AF0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                Добавить
            </button>
        </div>
        <div class="middle-box h-100 overflow-y-auto">
        </div>
    </div>

    <div class="wrapper-item d-flex flex-column overflow-y-auto rounded border p-3 bg-martinique">
        <div class="progress-head d-flex align-items-center justify-content-between rounded px-3 py-2 mb-3 fw-bold bg-port_gore">
            <span>In progress</span>
            <span class="view-trash cursor-pointer">View Trash</span>
        </div>
        <div class="progress-box overflow-y-auto h-100">
        </div>
    </div>
</div>

<!-- pop-up tarsh -->
<div class="pop-up trash d-flex justify-content-center align-items-center d-none">
    <div class="pop-up-content w-50 h-75 d-flex flex-column bg-port_gore">
        <p class="trash__title">Trash</p>
        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="pop-up__close">
            <path d="M1 1L10 10" stroke="#9B9BAB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M10 1L1 10" stroke="#9B9BAB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <div class="trash-box text-center">
        </div>
    </div>
</div>

<!-- pop-up add chat and mail -->
<div class="pop-up chatAndMail d-none">
    <div class="pop-up-content w-50 bg-port_gore">
        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="pop-up__close">
            <path d="M1 1L10 10" stroke="#9B9BAB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M10 1L1 10" stroke="#9B9BAB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <div class="h-100 d-flex flex-column">
            <div class="d-flex justify-content-between flex-grow-1">
                <div class="chatAndMail-item d-flex flex-column">
                    <div class="chatAndMail-item-head d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <!-- Emojis -->
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg" class="textarea-icon" onclick="showHidenEmojisIce('emojisIceChat')">
                                <circle cx="13" cy="13" r="13" fill="#9483FD"></circle>
                                <path d="M10.8994 15.8008C11.4944 16.2418 12.2189 16.5008 12.9994 16.5008C13.7799 16.5008 14.5044 16.2418 15.0994 15.8008" stroke="#3C29AB" stroke-linecap="round"></path>
                                <path d="M15.7994 11.9504C15.7994 12.53 15.4858 13.0004 15.0994 13.0004C14.713 13.0004 14.3994 12.53 14.3994 11.9504C14.3994 11.3708 14.713 10.9004 15.0994 10.9004C15.4858 10.9004 15.7994 11.3708 15.7994 11.9504Z" fill="#3C29AB"></path>
                                <path d="M10.9002 13.0004C11.2868 13.0004 11.6002 12.5303 11.6002 11.9504C11.6002 11.3705 11.2868 10.9004 10.9002 10.9004C10.5136 10.9004 10.2002 11.3705 10.2002 11.9504C10.2002 12.5303 10.5136 13.0004 10.9002 13.0004Z" fill="#3C29AB"></path>
                                <path d="M9.5 6.93661C10.5637 6.32124 11.7712 5.99811 13 6.00001C16.8661 6.00001 20 9.13391 20 13C20 16.8661 16.8661 20 13 20C9.1339 20 6 16.8661 6 13C6 11.7253 6.3409 10.529 6.9366 9.50001" stroke="#3C29AB" stroke-linecap="round"></path>
                            </svg>
                            <div class="position-relative">
                                <div id="emojisIceChat" class="position-absolute ms-1 d-none" style="right: 30px; top: -15px">
                                </div>
                            </div>

                            <p class="chatAndMail-item__title">Type Chat!</p>
                        </div>
                        <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.67 16.97C8.43 16.99 8.19 17 7.95 17C6.78 17 5.66999 16.72 4.67999 16.23L0.789993 16.79L1.38 12.88H1.39C0.989999 12 0.75 11.03 0.75 10C0.75 8.11001 1.51999 6.40001 2.75999 5.14001" stroke="#5A5A75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M8.86 8.77997C9.30183 8.77997 9.66 8.43075 9.66 7.99997C9.66 7.56919 9.30183 7.21997 8.86 7.21997C8.41817 7.21997 8.06 7.56919 8.06 7.99997C8.06 8.43075 8.41817 8.77997 8.86 8.77997Z" fill="#5A5A75"></path>
                            <path d="M12.06 8.77997C12.5018 8.77997 12.86 8.43075 12.86 7.99997C12.86 7.56919 12.5018 7.21997 12.06 7.21997C11.6182 7.21997 11.26 7.56919 11.26 7.99997C11.26 8.43075 11.6182 8.77997 12.06 8.77997Z" fill="#5A5A75"></path>
                            <path d="M15.25 8.77997C15.6918 8.77997 16.05 8.43075 16.05 7.99997C16.05 7.56919 15.6918 7.21997 15.25 7.21997C14.8082 7.21997 14.45 7.56919 14.45 7.99997C14.45 8.43075 14.8082 8.77997 15.25 8.77997Z" fill="#5A5A75"></path>
                            <path d="M18.62 10.88L19.21 14.79L15.32 14.23C14.62 14.58 13.86 14.82 13.05 14.93C12.73 14.98 12.39 15 12.05 15C8.06999 15 4.85999 11.87 4.85999 8C4.85999 6.07 5.64998 4.35 6.94998 3.08C8.23998 1.79 10.05 1 12.06 1C16.04 1 19.25 4.13 19.25 8C19.25 9.03 19.01 10 18.61 10.88H18.62V10.88Z" stroke="#5A5A75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <textarea id="chatIceTextArea" class="chatAndMail__write d-flex flex-grow-1 p-4" maxlength="300" oninput="changeChatIceCounter()"></textarea>
                    <div class="chatAndMail-item-footer d-flex align-items-center justify-content-end">
                        <span id="chatIceCounter">0</span> <span class="mx-1">/</span> <span>300</span> <span class="ms-1">символов</span>
                    </div>
                </div>
                <div class="chatAndMail-item d-flex flex-column">
                    <div class="chatAndMail-item-head d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <!-- Emojis -->
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg" class="textarea-icon" onclick="showHidenEmojisIce('emojisIceMail')">
                                <circle cx="13" cy="13" r="13" fill="#9483FD"></circle>
                                <path d="M10.8994 15.8008C11.4944 16.2418 12.2189 16.5008 12.9994 16.5008C13.7799 16.5008 14.5044 16.2418 15.0994 15.8008" stroke="#3C29AB" stroke-linecap="round"></path>
                                <path d="M15.7994 11.9504C15.7994 12.53 15.4858 13.0004 15.0994 13.0004C14.713 13.0004 14.3994 12.53 14.3994 11.9504C14.3994 11.3708 14.713 10.9004 15.0994 10.9004C15.4858 10.9004 15.7994 11.3708 15.7994 11.9504Z" fill="#3C29AB"></path>
                                <path d="M10.9002 13.0004C11.2868 13.0004 11.6002 12.5303 11.6002 11.9504C11.6002 11.3705 11.2868 10.9004 10.9002 10.9004C10.5136 10.9004 10.2002 11.3705 10.2002 11.9504C10.2002 12.5303 10.5136 13.0004 10.9002 13.0004Z" fill="#3C29AB"></path>
                                <path d="M9.5 6.93661C10.5637 6.32124 11.7712 5.99811 13 6.00001C16.8661 6.00001 20 9.13391 20 13C20 16.8661 16.8661 20 13 20C9.1339 20 6 16.8661 6 13C6 11.7253 6.3409 10.529 6.9366 9.50001" stroke="#3C29AB" stroke-linecap="round"></path>
                            </svg>
                            <div class="position-relative">
                                <div id="emojisIceMail" class="position-absolute ms-1 d-none" style="right: 30px; top: -15px">
                                </div>
                            </div>

                            <p class="chatAndMail-item__title">Type mail!</p>
                        </div>
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.85 15H3.15C1.83 15 0.75 13.93 0.75 12.6V3.4C0.75 2.08 1.82 1 3.15 1H16.85C18.17 1 19.25 2.07 19.25 3.4V12.6C19.25 13.93 18.18 15 16.85 15Z" stroke="#5A5A75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M18.22 1.77002L11.35 8.59002C10.58 9.36002 9.41999 9.36002 8.63999 8.59002L1.76999 1.77002" stroke="#5A5A75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M12.13 7.91998L18.22 13.83" stroke="#5A5A75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M1.78 13.83L7.94 8" stroke="#5A5A75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <textarea id="mailIceTextArea" class="chatAndMail__write d-flex flex-grow-1 p-4" maxlength="1000" oninput="changeMailIceCounter()"></textarea>
                    <div class="chatAndMail-item-footer d-flex align-items-center justify-content-end">
                        <span id="mailIceCounter">0</span> <span class="mx-1">/</span> <span>1000</span> <span class="ms-1">символов</span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button id="sendToModeration" class="submit bg-cornflower_blue text-white fw-bold rounded" type="button">
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.17 6.85999L9.39998 11.75C9.04998 12.11 8.49998 12.19 8.05998 11.95L2.29997 8.79999C1.44997 8.33999 1.55 7.09999 2.45 6.76999L18.76 0.819989C19.65 0.499989 20.52 1.35999 20.2 2.24999L14.39 18.51C14.07 19.4 12.87 19.52 12.38 18.72L10.21 15.17" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    Send to moderation
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js" asp-fallback-src="/lib/emoji-mart/dist/browser.js" asp-fallback-test="window.EmojiMart" asp-append-version="true"></script>
    <script src="/js/Ice/ice.js" asp-append-version="true"></script>
    <script src="/js/Ice/emoji.js" asp-append-version="true"></script>
}

