@model LoginRegisterModel

@{
    bool register = false;
    if (ViewData["register"] != null)
    {
        register = (bool)ViewData["register"];
    }
}

<div class="d-flex align-items-center justify-content-center">

    <div class="col-md-4 col-xl-3 mt-5">

        @if (User.Identity.IsAuthenticated)
        {
            <div class="alert alert-success">Logged in.</div>
        }
        else
        {
            <partial name="_AlertsPartial" />

            <div class="alert alert-danger alert-dismissible fade show" asp-validation-summary="ModelOnly">
                <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
            </div>

            <!--- Pills navs -->
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link @(register ? "" : "active")" id="tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab" aria-controls="pills-login" aria-selected="true">
                        Login
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link me-0  @(register ? "active" : "")" id="tab-register" data-mdb-toggle="pill" href="#pills-register" role="tab" aria-controls="pills-register" aria-selected="false">
                        Register
                    </a>
                </li>
            </ul>
            <!--- Pills navs -->

            <!--- Pills content -->
            <div class="tab-content">
                <div class="tab-pane fade @(register ? "" : "show active")" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                    <form method="post" asp-action="LogIn">

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="text" class="form-control" asp-for="LoginModel.Login" />
                            <label class="form-label" asp-for="LoginModel.Login"></label>
                            <span asp-validation-for="LoginModel.Login"></span>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" class="form-control" asp-for="LoginModel.Password" autocomplete="new-password" />
                            <label class="form-label" asp-for="LoginModel.Password"></label>
                            <span asp-validation-for="LoginModel.Password"></span>
                        </div>

                        <div class="row mb-4">
                            @*                            <div class="col-md-6 d-flex justify-content-left">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="RememberMe" />
                        <label class="form-check-label" asp-for="RememberMe">Remember me</label>
                        </div>
                        </div>*@

                            <div class="col-md-12 d-flex justify-content-end">
                                <a asp-controller="Account" asp-action="PasswordRecovery">Forgot password</a>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">SIGN IN</button>
                    </form>
                </div>
                <div class="tab-pane fade @(register ? "show active" : "")" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                    <form method="post" asp-action="Register">

                        <!-- Login input -->
                        <div class="form-outline mb-4">
                            <input type="text" class="form-control" asp-for="RegisterModel.Login" />
                            <label class="form-label" asp-for="RegisterModel.Login"></label>
                            <span asp-validation-for="RegisterModel.Login"></span>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" class="form-control" asp-for="RegisterModel.Email" />
                            <label class="form-label" asp-for="RegisterModel.Email"></label>
                            <span asp-validation-for="RegisterModel.Email"></span>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" class="form-control" asp-for="RegisterModel.Password" autocomplete="new-password" />
                            <label class="form-label" asp-for="RegisterModel.Password"></label>
                            <span asp-validation-for="RegisterModel.Password"></span>
                        </div>

                        <!-- Repeat Passoerd input -->
                        <div class="form-outline mb-4">
                            <input type="password" class="form-control" asp-for="RegisterModel.ConfirmPassowrd" />
                            <label class="form-label" asp-for="RegisterModel.ConfirmPassowrd">Repeat password</label>
                            <span asp-validation-for="RegisterModel.ConfirmPassowrd"></span>
                        </div>

                        <!-- Referral Code input -->
                        @*                        <div class="form-outline mb-4">
                    <input type="text" class="form-control" id="referralCode" name="referralCode" value="@ViewData["referralCode"]" autocomplete="off" />
                    <label class="form-label" for="referralCode">Referral Code</label>
                    </div>*@

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-3">Register</button>

                    </form>
                </div>
            </div>
            <!--- Pills content -->
        }
    </div>

</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}