@using Newtonsoft.Json;
@model Messenger
@{
    var sheets = (List<Sheet>)ViewData["sheets"];
    var applicationUsers = (List<ApplicationUser>)ViewData["applicationUsers"];
    bool isNew = (bool)ViewData["isNew"];
}

@if (Model?.Dialogs?.Count > 0)
{
    foreach (var dialog in Model.Dialogs)
    {
        SheetInfo info = null;
        var sheet = sheets.FirstOrDefault(s => s.Identity == $"{dialog.IdUser}");
        if (sheet != null)
        {
            info = JsonConvert.DeserializeObject<SheetInfo>(sheet.Info);
            info.SheetId = sheet.Id;
            <div class="accordion-item tab-content-item py-1 rounded mb-2" onclick="clickMessageHistory(event)">
                <div class="accordion-item-button bottom-blockbody__item d-flex flex-row text-white row p-1 rounded w-100 collapsed ms-0"
         data-bs-target="@($"#flush-collapse-history-{dialog.LastMessage.Id}")"
         aria-expanded="false"
         aria-controls="@($"flush-collapse-history-{dialog.LastMessage.Id}")"
         role="button"
         data-sheet-id="@($"{info.SheetId}")"
         data-owner-id="@($"{info.Id}")">
                    <div class="other-user-block rounded col-2 p-0">
                        <div class="position-relative d-inline-block">
                            <img name="ownerAvatar" src="@info?.Personal.AvatarSmall" alt="avatar" class="standart-image rounded">
                            <span class="status-circle-green other-user-block-status rounded-circle position-absolute bottom-0 end-0"></span>
                        </div>

                        @if (dialog.LastMessage.Type == MessageType.System)
                        {
                            <p name="date-created" class="user-block-name-text small-text-wrapp" data-date="@dialog.DateUpdated.ToString("O")"></p>
                        }
                        else
                        {
                            <p name="date-created" class="user-block-name-text small-text-wrapp" data-date="@dialog.LastMessage.DateCreated.ToString("O")"></p>
                        }
                    </div>
                    <div class="message-block col-6 text-start px-1 h-100">
                        <p class="other-name-text">
                            <span name="ownerName">@info?.Personal.Name</span>
                            @{
                                var appUser = applicationUsers?.FirstOrDefault(u => u.Id == dialog.Operator);
                                if (appUser != null)
                                {
                                    @:@($" - {appUser.Login}")
                                }
                            }

                            <button class="btn btn-sm p-0 btn-show-all-message ms-1">
                                <img src="/image/layout/VectorDownArrow.svg" alt="DownArrow">
                            </button>

                        </p>
                        <p class="other-name-text-mutiline opacity-50">
                            @switch (dialog.LastMessage.Type)
                            {
                                case MessageType.Message:
                                    @: @dialog.LastMessage.Content.Message
                                    break;

                                case MessageType.Sticker:
                                    @:Sticker
                                    break;

                                case MessageType.Virtual_Gift:
                                    @:Gift
                                    break;

                                case MessageType.Photo:
                                case MessageType.Photo_batch:
                                    @:Photo
                                    break;

                                case MessageType.LikePhoto:
                                    @:Like Photo
                                    break;

                                case MessageType.Video:
                                    @:Video
                                    break;

                                case MessageType.Post:
                                    @:Post
                                    break;

                                case MessageType.Like_NewsFeed_Post:
                                    @:Like Post
                                    break;

                                case MessageType.Wink:
                                    @:Winked
                                    break;

                                case MessageType.System:
                                    @dialog.LastMessage.Content.Message
                                    break;

                                default:
                                    break;
                            }
                        </p>
                    </div>
                    <div class="user-block d-flex align-items-center rounded col-4 px-1">
                        <p name="interlocutorId" class="d-none">@dialog.IdInterlocutor</p>
                        <div class="position-relative px-1">
                            <img name="interlocutorAvatar" src="@dialog.Avatar" alt="avatar" class="standart-image rounded">
                        </div>
                        <div class="text-center d-grid w-100">
                            <p name="interlocutorName" class="user-block-name-text">@dialog.UserName</p>
                            @*<p class="user-block-timer-text timer" data-seconds-left="@(ds.Dialogue.LastMessage.Timer?.TimeLeft() ?? 0)" data-sheetInfo-id="@ds.SheetInfo.Id" data-id-interlocutor="@ds.Dialogue.IdInterlocutor"></p>*@
                        </div>
                    </div>
                </div>
                <div id="@($"flush-collapse-history-{dialog.LastMessage.Id}")" class="accordion-collapse collapse my-1 mx-3 @(dialog.LastMessage.Type == MessageType.Message ? "text-start" : "")">
                    <p class="text-white large-block__body-item-text">
                        @switch (dialog.LastMessage.Type)
                        {
                            case MessageType.Message:
                                @:@dialog.LastMessage.Content.Message
                                break;

                            case MessageType.Photo:
                            case MessageType.Sticker:
                                <img src="@dialog.LastMessage.Content.Url" class="rounded" style="width: 100px;" />
                                break;

                            case MessageType.Video:
                                <span class="rounded video-msg" style="background-image: url(@dialog.LastMessage.Content.Url); background-size: auto 100%;">
                                    <svg name="play-svg" class="" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg" style="top: auto;">
                                        <path d="M17.5 35C7.83243 35 0 27.1676 0 17.5C0 7.83243 7.83243 0 17.5 0C27.1676 0 35 7.83243 35 17.5C35 27.1676 27.1676 35 17.5 35Z" fill="#7D6AF0"></path>
                                        <path d="M24.5819 14.5531L16.1951 10.3141C14.0007 9.21723 11.3855 10.7884 11.3855 13.2192V21.6973C11.3855 24.1281 14.0007 25.6993 16.1951 24.6024L24.5819 20.3634C26.9867 19.148 26.9867 15.7685 24.5819 14.5531Z" fill="white"></path>
                                    </svg>
                                </span>
                                break;

                            case MessageType.Photo_batch:
                                @try
                                {
                                    var media = dialog.LastMessage.Content.Photos?.Select(p => new { IsVideo = false, Url = p.Url }).ToList();
                                    switch (media.Count)
                                    {
                                        case 1:
                                            <div class="d-flex justify-content-center text-white">
                                                <div class="history-posts d-inline-flex flex-column">
                                                    <div class="history">
                                                        <div class="history-item">
                                                            <div class="history-head w-100 position-relative">
                                                                <img src="@media.FirstOrDefault().Url" alt="">
                                                                @if (media[0].IsVideo)
                                                                {
                                                                    <div class="video-post">
                                                                        <svg name="play-svg" class="" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg" style="top: auto;">
                                                                            <path d="M17.5 35C7.83243 35 0 27.1676 0 17.5C0 7.83243 7.83243 0 17.5 0C27.1676 0 35 7.83243 35 17.5C35 27.1676 27.1676 35 17.5 35Z" fill="#7D6AF0"></path>
                                                                            <path d="M24.5819 14.5531L16.1951 10.3141C14.0007 9.21723 11.3855 10.7884 11.3855 13.2192V21.6973C11.3855 24.1281 14.0007 25.6993 16.1951 24.6024L24.5819 20.3634C26.9867 19.148 26.9867 15.7685 24.5819 14.5531Z" fill="white"></path>
                                                                        </svg>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            break;

                                        default:
                                            <div class="d-flex justify-content-center  text-white">
                                                <div class="history-posts d-inline-flex flex-column">
                                                    <div class="history">
                                                        <div class="history-item">
                                                            <div class="d-flex justify-content-between">
                                                                <div class="history-head position-relative">
                                                                    <img src="@media.FirstOrDefault().Url" alt="">
                                                                    @if (media[0].IsVideo)
                                                                    {
                                                                        <div class="video-post">
                                                                            <svg name="play-svg" class="" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg" style="top: auto;">
                                                                                <path d="M17.5 35C7.83243 35 0 27.1676 0 17.5C0 7.83243 7.83243 0 17.5 0C27.1676 0 35 7.83243 35 17.5C35 27.1676 27.1676 35 17.5 35Z" fill="#7D6AF0"></path>
                                                                                <path d="M24.5819 14.5531L16.1951 10.3141C14.0007 9.21723 11.3855 10.7884 11.3855 13.2192V21.6973C11.3855 24.1281 14.0007 25.6993 16.1951 24.6024L24.5819 20.3634C26.9867 19.148 26.9867 15.7685 24.5819 14.5531Z" fill="white"></path>
                                                                            </svg>
                                                                        </div>
                                                                    }
                                                                </div>
                                                                <div class="history-head position-relative">
                                                                    @if (media.Count > 2)
                                                                    {
                                                                        <img src="@media[1].Url" alt="">
                                                                        <div class="upload_count position-absolute w-100 h-100 top-0 d-flex align-items-center justify-content-center">+<span class="count">@($"{(media.Count - 2)}")</span></div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="@media[1].Url" alt="">
                                                                        @if (media[1].IsVideo)
                                                                        {
                                                                            <div class="video-post">
                                                                                <svg name="play-svg" class="" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg" style="top: auto;">
                                                                                    <path d="M17.5 35C7.83243 35 0 27.1676 0 17.5C0 7.83243 7.83243 0 17.5 0C27.1676 0 35 7.83243 35 17.5C35 27.1676 27.1676 35 17.5 35Z" fill="#7D6AF0"></path>
                                                                                    <path d="M24.5819 14.5531L16.1951 10.3141C14.0007 9.21723 11.3855 10.7884 11.3855 13.2192V21.6973C11.3855 24.1281 14.0007 25.6993 16.1951 24.6024L24.5819 20.3634C26.9867 19.148 26.9867 15.7685 24.5819 14.5531Z" fill="white"></path>
                                                                                </svg>
                                                                            </div>
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            break;
                                    }
                                }
                                catch
                                {
                                }
                                break;

                            case MessageType.Virtual_Gift:
                                <img src="@dialog.LastMessage.Content.ImageSrc" style="width: 100px;" />
                                <br />
                                @:@dialog.LastMessage.Content.Message
                                break;

                            case MessageType.Wink:
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18z" fill="#FFD93B"></path>
                                    <path d="m5.91 10.096-.33.682.706-.282c.088-.036 2.22-.846 4.546 1.057l.746.605c-.886-2.941-4.33-4.831-5.668-2.062z" fill="#3E4347"></path>
                                    <path d="M17.876 10.766c-.057 1.388-1.199 2.52-2.542 2.52-1.348 0-2.391-1.132-2.334-2.52.057-1.388 1.194-2.52 2.543-2.52 1.343 0 2.39 1.132 2.333 2.52z" fill="#fff"></path>
                                    <path d="M16.024 10.972a1.314 1.314 0 1 1-2.632.007 1.314 1.314 0 0 1 2.632-.007zM17.756 15.024a6.043 6.043 0 0 1-5.754 4.202 6.05 6.05 0 0 1-5.76-4.202.45.45 0 0 1 .523-.568 26.24 26.24 0 0 0 10.468 0c.337-.068.63.242.523.568z" fill="#3E4347"></path>
                                    <path d="M16.425 14.598c-2.949.503-5.898.503-8.851 0C8.131 16.102 9.9 16.511 12 16.511s3.868-.408 4.425-1.913z" fill="#fff"></path>
                                    <path d="M12.002 19.226a6.004 6.004 0 0 0 3.149-.889c-.399-.864-1.734-1.501-3.324-1.501-1.485 0-2.747.556-3.233 1.334a6.006 6.006 0 0 0 3.408 1.056z" fill="#E24B4B"></path>
                                </svg>
                                <br>
                                @:Winked
                                break;

                            case MessageType.LikePhoto:
                                @if (string.IsNullOrWhiteSpace(dialog.LastMessage.Content.Url))
                                {
                                    @:👍 Liked the
                                    <a href="#!" class="ps-1 link-secondary" onclick="showLikedPhoto(@dialog.LastMessage.Content.IdPhoto)">photo</a>
                                }
                                else
                                {
                                    @:👍 Liked the photo
                                    <a href="#!" onclick="showLikedPhoto(@dialog.LastMessage.Content.IdPhoto)">
                                        <img src="@dialog.LastMessage.Content.Url" class="img-thumbnail" />
                                    </a>
                                }
                                break;

                            case MessageType.Like_NewsFeed_Post:
                                @:👍 Liked the newsfeed post
                                <br>
                                <span class="small text-white-50">@dialog.LastMessage.Content.Text</span>
                                <br>
                                <img src="@dialog.LastMessage.Content.Photos[0].Url" class="img-thumbnail" />
                                break;

                            case MessageType.Post:
                                try
                                {
                                    var videos = dialog.LastMessage.Content.Videos?.Select(v => new { IsVideo = true, Url = v.Url }) ?? Enumerable.Empty<dynamic>();
                                    var photos = dialog.LastMessage.Content.Photos?.Select(p => new { IsVideo = false, Url = p.Url }) ?? Enumerable.Empty<dynamic>();
                                    var media = videos.Concat(photos).ToList();
                                    switch (media.Count)
                                    {
                                        case 1:
                                            <div class="d-flex justify-content-center text-white">
                                                <div class="history-posts d-inline-flex flex-column">
                                                    <div class="history">
                                                        <div class="history-item">
                                                            <p class="history-item__text">Exclusive Post</p>
                                                            <div class="history-head w-100 position-relative">
                                                                <img src="@media.FirstOrDefault().Url" alt="">
                                                                @if (media[0].IsVideo)
                                                                {
                                                                    <div class="video-post">
                                                                        <svg name="play-svg" class="" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg" style="top: auto;">
                                                                            <path d="M17.5 35C7.83243 35 0 27.1676 0 17.5C0 7.83243 7.83243 0 17.5 0C27.1676 0 35 7.83243 35 17.5C35 27.1676 27.1676 35 17.5 35Z" fill="#7D6AF0"></path>
                                                                            <path d="M24.5819 14.5531L16.1951 10.3141C14.0007 9.21723 11.3855 10.7884 11.3855 13.2192V21.6973C11.3855 24.1281 14.0007 25.6993 16.1951 24.6024L24.5819 20.3634C26.9867 19.148 26.9867 15.7685 24.5819 14.5531Z" fill="white"></path>
                                                                        </svg>
                                                                    </div>
                                                                }
                                                            </div>
                                                            <p class="history-item__text">@(dialog.LastMessage.Content.TextPreview ?? dialog.LastMessage.Content.Text)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            break;

                                        case 2:
                                            <div class="d-flex justify-content-center  text-white">
                                                <div class="history-posts d-inline-flex flex-column">
                                                    <div class="history">
                                                        <div class="history-item">
                                                            <p class="history-item__text">Exclusive Post</p>
                                                            <div class="d-flex justify-content-between">
                                                                <div class="history-head position-relative">
                                                                    <img src="@media.FirstOrDefault().Url" alt="">
                                                                    @if (media[0].IsVideo)
                                                                    {
                                                                        <div class="video-post">
                                                                            <svg name="play-svg" class="" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg" style="top: auto;">
                                                                                <path d="M17.5 35C7.83243 35 0 27.1676 0 17.5C0 7.83243 7.83243 0 17.5 0C27.1676 0 35 7.83243 35 17.5C35 27.1676 27.1676 35 17.5 35Z" fill="#7D6AF0"></path>
                                                                                <path d="M24.5819 14.5531L16.1951 10.3141C14.0007 9.21723 11.3855 10.7884 11.3855 13.2192V21.6973C11.3855 24.1281 14.0007 25.6993 16.1951 24.6024L24.5819 20.3634C26.9867 19.148 26.9867 15.7685 24.5819 14.5531Z" fill="white"></path>
                                                                            </svg>
                                                                        </div>
                                                                    }
                                                                </div>
                                                                <div class="history-head position-relative">
                                                                    <img src="@media[1].Url" alt="">
                                                                    @if (media[1].IsVideo)
                                                                    {
                                                                        <div class="video-post">
                                                                            <svg name="play-svg" class="" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg" style="top: auto;">
                                                                                <path d="M17.5 35C7.83243 35 0 27.1676 0 17.5C0 7.83243 7.83243 0 17.5 0C27.1676 0 35 7.83243 35 17.5C35 27.1676 27.1676 35 17.5 35Z" fill="#7D6AF0"></path>
                                                                                <path d="M24.5819 14.5531L16.1951 10.3141C14.0007 9.21723 11.3855 10.7884 11.3855 13.2192V21.6973C11.3855 24.1281 14.0007 25.6993 16.1951 24.6024L24.5819 20.3634C26.9867 19.148 26.9867 15.7685 24.5819 14.5531Z" fill="white"></path>
                                                                            </svg>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                            <p class="history-item__text">@(dialog.LastMessage.Content.TextPreview ?? dialog.LastMessage.Content.Text)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            break;

                                        default:
                                            <div class="d-flex justify-content-center  text-white">
                                                <div class="history-posts d-inline-flex flex-column">
                                                    <div class="history">
                                                        <div class="history-item">
                                                            <p class="history-item__text">Exclusive Post</p>
                                                            <div class="d-flex justify-content-between">
                                                                <div class="history-head position-relative">
                                                                    <img src="@media.FirstOrDefault().Url" alt="">
                                                                    @if (media[0].IsVideo)
                                                                    {
                                                                        <div class="video-post">
                                                                            <svg name="play-svg" class="" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg" style="top: auto;">
                                                                                <path d="M17.5 35C7.83243 35 0 27.1676 0 17.5C0 7.83243 7.83243 0 17.5 0C27.1676 0 35 7.83243 35 17.5C35 27.1676 27.1676 35 17.5 35Z" fill="#7D6AF0"></path>
                                                                                <path d="M24.5819 14.5531L16.1951 10.3141C14.0007 9.21723 11.3855 10.7884 11.3855 13.2192V21.6973C11.3855 24.1281 14.0007 25.6993 16.1951 24.6024L24.5819 20.3634C26.9867 19.148 26.9867 15.7685 24.5819 14.5531Z" fill="white"></path>
                                                                            </svg>
                                                                        </div>
                                                                    }
                                                                </div>
                                                                <div class="history-main d-flex justify-content-between flex-column">
                                                                    <div class="history-main-sup position-relative rounded">
                                                                        <img src="@media[1].Url" alt="" />
                                                                        @if (media[1].IsVideo)
                                                                        {
                                                                            <div class="video-post">
                                                                                <svg name="play-svg" class="" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg" style="top: auto;">
                                                                                    <path d="M17.5 35C7.83243 35 0 27.1676 0 17.5C0 7.83243 7.83243 0 17.5 0C27.1676 0 35 7.83243 35 17.5C35 27.1676 27.1676 35 17.5 35Z" fill="#7D6AF0"></path>
                                                                                    <path d="M24.5819 14.5531L16.1951 10.3141C14.0007 9.21723 11.3855 10.7884 11.3855 13.2192V21.6973C11.3855 24.1281 14.0007 25.6993 16.1951 24.6024L24.5819 20.3634C26.9867 19.148 26.9867 15.7685 24.5819 14.5531Z" fill="white"></path>
                                                                                </svg>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                    @if (media.Count > 3)
                                                                    {
                                                                        <div class="history-main-box position-relative rounded">
                                                                            <img src="@media[2].Url" alt="">
                                                                            <div class="upload_count position-absolute">+<span class="count">@($"{(media.Count - 3)}")</span></div>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="history-main-sup position-relative rounded">
                                                                            <img src="@media[2].Url" alt="">
                                                                            @if (media[2].IsVideo)
                                                                            {
                                                                                <div class="video-post">
                                                                                    <svg name="play-svg" class="" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg" style="top: auto;">
                                                                                        <path d="M17.5 35C7.83243 35 0 27.1676 0 17.5C0 7.83243 7.83243 0 17.5 0C27.1676 0 35 7.83243 35 17.5C35 27.1676 27.1676 35 17.5 35Z" fill="#7D6AF0"></path>
                                                                                        <path d="M24.5819 14.5531L16.1951 10.3141C14.0007 9.21723 11.3855 10.7884 11.3855 13.2192V21.6973C11.3855 24.1281 14.0007 25.6993 16.1951 24.6024L24.5819 20.3634C26.9867 19.148 26.9867 15.7685 24.5819 14.5531Z" fill="white"></path>
                                                                                    </svg>
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                            <p class="history-item__text">@(dialog.LastMessage.Content.TextPreview ?? dialog.LastMessage.Content.Text)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            break;
                                    }
                                }
                                catch
                                {
                                }
                                break;
                        }
                    </p>
                </div>
            </div>
        }
    }
}
else
{
    @*    <div class="accordion-body-item rounded w-100 p-2 justify-content-between align-items-center text-center">
    Нет диалогов
    </div>*@
}

@if (!string.IsNullOrWhiteSpace(Model.Cursor) && !isNew)
{
    <div id="@($"btn-loading-history")" class="accordion-body-item rounded w-100 p-2 justify-content-between align-items-center text-center">
        <button type="button" class="btn answer-button chat-button rounded text-white" onclick="getHistory('@Model.Cursor')">
            <span class="answer-button__text">Загрузить историю</span>
        </button>
    </div>
}
